[2014-04-28 23:50] leesalminen opened #3 "Don't show any pagination links if there is only one page of data"
Don't show pagination links if there is only one page of data.

[2014-04-28 23:51] leesalminen opened #4 "Make it possible to style pagination"
You should be able to style pagination links with classes of your choosing (I use bootstrap).

[2014-04-28 23:51] leesalminen opened #5 "Column Callbacks"
You should be able to run callbacks on columns, to manipulate data client-side. I use timeago.js to turn unix timestamps into something more colloquial.

[2014-04-28 23:51] leesalminen opened #6 "Filtering"
You should be able to filter data.

[2014-04-28 23:52] leesalminen opened #7 "Column Sorting"
You should be able to sort by column.

[2014-04-29 03:31] leesalminen opened #8 "Callback to render HTML in some columns"
I need to render HTML in some columns.

[2014-04-29 18:38] glittershark opened #9 "Pagination link for active page should be disabled"
Given that we currently do pagination links with `<a>` tags, I don't know if this means turning it into a `<span class="current-page">` or something different.

[2014-04-29 18:46] #3 closed, assigned to glittershark

[2014-04-30 16:02] glittershark opened #13 "Should be possible to specify sortable={true} to make all columns sortable"
In the interest of making easy things easy, it should be possible to provide a boolean `true` argument to the `sortable` option of the `<Table>`

[2014-04-30 16:08] glittershark opened #14 "Provide some default sort functions"
We should provide a library of default sort functions namespaced under `Reactable.Sort` -- stuff like `Reactable.Sort.integer` or `Reactable.Sort.Date`

[2014-04-30 16:09] leesalminen opened #15 "Numeric Sorting"
You should sort numerically, broski!

[2014-04-30 16:11] #7 closed, assigned to nobody

[2014-05-01 17:24] #15 closed, assigned to nobody

[2014-05-05 21:34] #13 closed, assigned to nobody

[2014-05-13 20:53] #6 closed, assigned to nobody

[2014-05-13 20:54] glittershark opened #22 "Filtering doesn't update the number of pages in pagination"
It just stays as the number of pages it would be if there was no filtering, and all the extra ones are empty.

[2014-05-13 22:48] #22 closed, assigned to glittershark

[2014-05-14 22:17] #8 closed, assigned to glittershark

[2014-05-14 22:39] glittershark opened #25 "Add a flag to not escape HTML content in cells"
The default React behavior of escaping rendered HTML content in cells is fine, but for people who don't want to go so far down the react/jsx rabbit hole to use `Reactable.Td`, we should provide an option somehow to specify which columns/cells/etc should be `unsafeInnerHtml`ed.

[2014-05-15 23:30] #25 closed, assigned to glittershark

[2014-05-16 18:04] #14 closed, assigned to nobody

[2014-05-20 17:37] leesalminen opened #27 "After filtering, sorting/pagination does not work"
After I enter a string to filter, sorting/pagination fails to work.

Throws:

`Uncaught TypeError: Must pass a non-zero numPages argument to Paginator`

[2014-05-20 21:44] leesalminen opened #28 "Events for pagination / filtering"
I  need an event I can handle for pagination / filtering so that I can trigger a function when those fire.

[2014-05-20 21:57] leesalminen opened #29 "Sort columns with unsafe()"
Can't sort column that has `unsafe()` HTML using `caseInsensitive` sort function.

[2014-06-25 15:51] apriebe opened #30 "Allow the columns prop to accept key/value pairs"
The columns prop needs to accept key value pairs. This way you can map edit_stamp to something more friendly like, 'Edit Stamp'.

[2014-06-25 15:53] apriebe opened #31 "Reactable should not display columns that aren't listed in the columns prop"
The columns prop needs to drop all columns from the table that are not supplied in the object/array. This way you can get all the data you need back, like ids and such, and yet not display them in the table. This could be resolved by only pulling out data for the table, but we would end up doing multiple queries and patching together arrays/objects on the other side.q

[2014-06-25 15:54] apriebe opened #32 "Rows and cells should be configurable/customizable"
We need the ability to manipulate rows and cells so that we can apply custom attributes. Example: adding a link around the row so that you can click on the row to edit the row. Example: the value of the cell is true and we want a glyphicon check, or a glyphicon remove for false.

[2014-06-25 15:56] apriebe opened #33 "Pagination required after filtering from any page other than 1"
If you filter from a page other than 1, you must click the page 1 link in order to see your filtered results. This assumes that your results are limited to page 1. If you have 10 pages of stuff, click on page 6, then filter by something that results in less than six pages, you're still technically on page 6 so you see no results. However, there could be pagination links 1 - 5. If you click on any

[2014-07-07 20:38] apriebe opened #34 "Data prop is getting transfered as a DOM property to the table"

[2014-07-07 20:40] apriebe opened #35 "Need to be able to hide columns"
Either need to set "hidden" to true or add a class name to the column.

[2014-07-17 01:27] #35 closed, assigned to nobody

[2014-07-17 01:30] #30 closed, assigned to nobody

[2014-07-17 01:30] #31 closed, assigned to nobody

[2014-07-17 01:31] #32 closed, assigned to nobody

[2014-07-17 22:39] glittershark opened #37 "Support React v0.11"
[React version 0.11](http://facebook.github.io/react/blog/2014/07/17/react-v0.11.html) was just released. We should support it.

[2014-07-24 15:53] #37 closed, assigned to nobody

[2014-08-09 18:49] #33 closed, assigned to glittershark

[2014-08-10 17:32] #27 closed, assigned to glittershark

[2014-08-10 19:27] #29 closed, assigned to nobody

[2014-08-11 00:14] justinwoo opened #42 "Switch Karma target to PhantomJS"
I see you use [Firefox](https://github.com/glittershark/reactable/blob/master/karma.conf.js#L51) for your Karma testing, any thoughts on using PhantomJS instead?

It's fairly easy to introduce a "pure" node dependency for it (or you can just use the normal system install) and doesn't require popping up a browser or anything. You will need to introduce a polyfill for `.bind`, but adding [ES5 shim](

[2014-08-11 06:11] srt4 opened #43 "Filtering should update active page when current page # > # filtered pages"
To repro,

(1) Visit demo at http://glittershark.github.io/reactable/
(2) Click on page 2 (or greater) of the table.
(3) Type in "Albuquerque" in the filter, which returns one page of results.

**What happens**: The user is still on the page they selected manually (in this case, page 2).
**What should happen**: The user should land on the page number closest to the one they manually selected (in t

[2014-08-12 01:24] #42 closed, assigned to nobody

[2014-08-12 01:25] glittershark opened #45 "Test on as many browsers as possible on Travis"
Currently it's just PhantomJS.

See #42

[2014-08-12 01:28] justinwoo opened #46 "Support CommonJS Modules"
Many people would like to import this project as a CommonJS module and build as part of their build process (e.g. browserify, webpack, etc.).

Do you have plans to support them? It seems like it's standard in a lot of React projects.

[2014-08-12 01:32] #43 closed, assigned to nobody

[2014-08-12 03:19] #45 closed, assigned to nobody

[2014-08-16 12:32] justinwoo opened #47 "jQuery dependency"
Are you using the jQuery dependency outside of the tests? I couldn't find anything in a quick search of the codebase.

In that case, maybe it might be better to remove it and just use selector methods on `document`.

[2014-08-16 12:35] justinwoo opened #48 "Testing framework"
I see you use Mocha with Chai right now, is there a particular reason for doing that?

Karma has very good support for Jasmine (basically, you just identify your `frameworks` as `['jasmine']` and add `karma-jasmine`.

It wouldn't make a huge difference, but I think the familiarity of Jasmine could help lower the barrier to contribution.

[2014-08-16 15:39] justinwoo opened #49 "Need for bower?"
Right now, all that bower pulls in are the global React, jQuery, and Chai dependencies. Do we need these, or can we get rid of this bower file? (edit: I see es5-shim is also checked in but not in the bower package file. Maybe we can pull the npm version of this also.)

I also found that the tests do a lot of DOM checking which aren't necessary if you use the React TestUtils' (renderIntoDocument)[h

[2014-08-16 15:51] #49 closed, assigned to nobody

[2014-08-16 15:52] glittershark opened #50 "Add es5-shim as an explicit dependency"
@kimagure noted in #49 that, while es5-shim is committed to the `vendor` folder, it's not added to `bower.json` as a dependency. Looks like I forgot to `--save` when adding it.

[2014-08-16 15:53] #48 closed, assigned to nobody

[2014-08-16 15:54] #47 closed, assigned to nobody

[2014-08-16 16:17] #50 closed, assigned to nobody

[2014-08-18 02:29] #46 closed, assigned to glittershark

[2014-08-18 16:59] glittershark opened #53 "Reactable.Tr doesn't work with only one child Td"
With only one child `<Td>`, `<Reactable.Tr>` will act as if it doesn't have any columns.

[2014-08-18 22:52] glittershark opened #55 "Refactor explicit exclusion of props to be passed down to DOM components"
See the discussion on 093012706997888943790782f9f10f2225c5def4 and #34 for more information - essentially right now we're explicitly defining a list of properties to exclude from being passed to the DOM nodes that the various Reactable components wrap. This isn't 100% optimal as that list has to be maintained going down the road. Given that everything works right now this isn't critical, but I'm c

[2014-08-18 22:53] #34 closed, assigned to nobody

[2014-08-18 23:12] fiatjaf opened #56 "Add option to configure whether ascending vs descending sorting resets when columns are changed"
I mean, when you click to sort ASC by attribute A, then click to sort by attribute B, it should sort ASC again, not DESC. DESC should only come after the second click on each column.

Is this clear? Is it wrong?

[2014-08-19 15:09] fiatjaf opened #57 "Expose hooks for specific events"
I'm talking about perhaps accepting a function as a prop named `onFilter` which would be called with the filtered expression, maybe the filter results, I don't know (I would be happy with the filtered expression), and another function as a prop named `onSort` which would be called with the column and direction being used to sort.

Good thing? Too much bloating?

[2014-08-19 15:12] #57 closed, assigned to nobody

[2014-08-20 15:49] glittershark opened #58 "Support ALL the module formats"
[This](https://github.com/rich-harris/esperanto) was posted on HN today and it looks like a damn good solution.

[2014-08-26 13:42] cryptix opened #59 "Rows not displayed when using .setState()"
Hi,

I must admit that I'm fairly new to react but after following the [introductory comment tutorial](http://facebook.github.io/react/docs/tutorial.html) I tried to wrap my knowledge around reactable and fill it with data by calling `this.setState()` but it only updates the column names and now rows show up.

Here is my code so far:

[code]

I just installed the react dev tools, with it I can see

[2014-09-09 15:06] jxm262 opened #63 "Row Callbacks"
Hi, Similar to #5, I think it would be cool to have row callbacks.  My particular use case is to perform some action (highlighted) when a row is selected (clicked).  I also have cases where I need to perform an action (popup a modal, etc... ) when a row is double clicked.

I'll try to look through your source this week and see if I can maybe help.

Thanks!

[2014-09-21 06:20] RnbWd opened #64 "NPM"
This lib is so fantastic :) I'm currently using it on a few sites, but all my dependencies use npm. I'm going to fork this library and publish it to npm under the name 'react-table-component'. I'll be making a few minor revisions ('search' placeholder in the search box) as well as internally restructure the lib for use with browserify / npm (which I'm currently using in these projects). I'd love t

[2014-09-30 13:47] #63 closed, assigned to nobody

[2014-10-08 15:00] #58 closed, assigned to nobody

[2014-10-08 21:00] billschaller opened #69 "Only one table works per page"
The defaultProps object that is used in Reactable is getting polluted with the first instance of column data created. From the [React docs](http://facebook.github.io/react/docs/component-specs.html#getdefaultprops):

[code]

Because of the way columns are passed around and modified, the default props object is getting polluted with data from instances of the class. This causes the first instance o

[2014-10-15 14:03] joneshf opened #70 "Support propTypes"
I'm attempting to use these components, when trying to learn what all I can do it's immensely easier to understand if each component defines the [`propTypes`](http://facebook.github.io/react/docs/reusable-components.html#prop-validation) it uses. Trying to glean the information from the `README` can work, but it's not set up for quick glances at what is actually used.

I'll gladly submit a PR for

[2014-10-16 20:23] glittershark opened #71 "Try to call `.toString()` on all data values"
See discussion on #68 and #70 for more info.

[2014-10-16 20:32] #71 closed, assigned to nobody

[2014-10-23 19:26] leesalminen opened #75 "Add public `filterBy` method to the <Table>"
Is it possible to move `.reactable-filter-input` outside of the `<thead>`?

[2014-10-25 00:35] hamxiaoz opened #76 "Custom html inside <Td> doesn't work"
It renders nothing if I put `<b>Griffin Smith</b>` into `<Td>`.
The example in the readme doesn't work.

[2014-10-25 17:14] #76 closed, assigned to glittershark

[2014-10-26 16:22] glittershark opened #78 "Refactor how we test if a variable is a React component"
To fix #76, in cfcd831759b7d45b98685fedf7897d7033bbe310 I added a function that checks if a variable is a React component by testing if `typeof(thing.props) !== 'undefined'`. This is a hacky and not very robust way of making this test, and should be refactored to do the test the way React itself does it.

[2014-10-26 18:03] #53 closed, assigned to nobody

[2014-10-26 19:28] glittershark opened #80 "Separate code into different files."
`reactable.jsx` is 833 lines. `reactable_test.jsx` is 2070 lines. It's time to put this shit into different files.

[2014-10-27 22:50] Timethor opened #81 "Support for column types"
Hi there,

I was wondering if you had any plans or thoughts on implementing types of columns. This arises from the need to have action buttons in a column of their own for CRUD operations and more.
##### Current thoughts:
- A `Data` column type, the default, would map to the current functionality provided by reactable
- An `Action` column type, where button callbacks and a button template would pr

[2014-10-28 16:25] #81 closed, assigned to nobody

[2014-10-28 22:09] glittershark opened #82 "Upgrade to React 0.12"

[2014-11-07 17:52] joneshf opened #83 "Nested data"
I have some objects that I want to display. It happens that sometimes the objects contains objects themselves. Currently, reactable just stringifies it, so you end up with "[object Object]" or some such. How do you want to handle nested data like this?
- `JSON.stringify` would also help arrays look more like arrays.
- Pushing the fields up and creating more columns is also an option so it would be

[2014-11-07 18:05] glittershark opened #84 "Support colspan and rowspan"
Reactable should support table cells with `colspan` and `rowspan`. We need to figure out how these cells are filtered and sorted, how they're displayed when one but not all of the related rows are present, etc.

See #83 for the original impetus for this.

[2014-11-07 18:07] #83 closed, assigned to nobody

[2014-11-07 18:11] glittershark opened #85 "Remove Array.prototype polyfills in favor of a dependency on es5_shim"
Currently we patch over Array.prototype with polyfills for `map` and `indexOf`. Since ES5 support is [fairly widespread][1], however, it seems prudent to remove these in favor of explicitly requiring [es5-shim][2] for browsers that need it, so we can cut down on file size for those that don't.

[1]: http://kangax.github.io/compat-table/es5/
[2]: https://github.com/es-shims/es5-shim

[2014-11-11 00:11] naganowl opened #86 "Docs don't fence code in the escaping section"
In the [escaping](http://glittershark.github.io/reactable/#preventing-escaping-of-html) section of the docs, the code fragment demonstrating how to prevent escaping isn't properly fenced.

This causes the syntax highlighting text (~~~javascript) and actual images (octocats) to show be interpreted as part of the docs, rather than as a code block.

[2014-11-12 14:10] #86 closed, assigned to glittershark

[2014-11-14 00:54] TylerLH opened #87 "Customized Filterable Columns"
I'm customizing some of my columns but would also like them to be filterable, but I noticed that filtering only works when passing content in using the data attribute. On the other hand, if I provide a data attribute and the customized column, the column is populated using the default. Would it make sense to modify this behavior so that if both are provided, the data attr just provides the data fo

[2014-11-18 14:54] rothnic opened #88 "Native support for scrolling layout"
I've been playing around with this and am finding that the most difficult thing is to get it formatted in a way that works well for a scrolling layout.

As is, you can wrap the table in a div, set the height, and it works. However, then the filtering input box and column headers scroll as well. I figured it would be trivial to get this working, but it seems there are a number of ways to do this, a

[2014-11-20 17:29] juice49 opened #89 "Use HTML as a label?"
Is it possible to use HTML inside a column label? I've tried passing the HTML as a string, and wrapped within a `Reactable.unsafe()` call - but both seem to result in a string of HTML being used as the label.

Thanks!

[2014-11-20 20:49] #89 closed, assigned to glittershark

[2014-11-27 03:50] vespakoen opened #91 "noResults view and hiding pagination when there is only 1 page"
1) When filtering the results, and no match is found, it only shows the header (index).
It would be nice if we could pass in a view that would be shown instead.

2) When there is only 1 page of results, it would be nice if the pagination could be hidden.

[2014-12-01 23:21] #88 closed, assigned to nobody

[2014-12-01 23:21] #91 closed, assigned to nobody

[2014-12-01 23:26] #64 closed, assigned to nobody

[2014-12-02 15:16] #75 closed, assigned to nobody

[2014-12-02 15:19] glittershark opened #98 "Make it possible to call filterBy with specific columns"
@rothnic had a good idea in #88, which is that it'd be cool if we could do filtering on a per-column basis. One basic way to accomplish this would be to make it possible to call the `filterBy()` function introduced in #95 with an object, where the keys are column names and the values are the filter values. Getting that to work with the `<Filterer>` input itself would be a bit more complicated, tho

[2015-01-07 09:34] akshayp opened #100 "Allow custom classNames for column and row cells"
It'd be awesome to support a `className` that can be passed into either rows or columns along with the label/content so users can get more granularity on a per cell basis for the `Td` and `Th` components when using `<Table>` directly

[2015-01-19 12:05] appsciences opened #101 "Incorrect documentation: reactable.common.js is no longer available, NPM package exists"
In readme.md it states "If you'd rather use browserify or another CommonJS implementation to require() it, there's a file build/reactable.common.js in the repo or here if you'd like to download it directly." That file is no longer available (https://github.com/glittershark/reactable/raw/master/build/reactable.common.js).

Overall the documentation should be updated to reflect that NPM package is a

[2015-01-19 12:35] appsciences opened #102 "Customizing individual columns that are not in additional rows"
It's quite common IMO to have selection or edit/delete controls as first column in a table. While there's a great way to customize columns in "additional" rows using Tr->Td..., I haven't found a way to insert  controls into columns that would trigger React events.

[2015-01-20 14:30] glittershark commented on #102
Something like:
[code]
should work. Remember that this is all still React, and anything you can do with React you can do with Reactable

Feel free to reopen the issue if you run into any other issues :smile:

[2015-01-20 14:30] #102 closed

[2015-01-20 14:31] glittershark commented on #101
Oops! thanks for this, will update the docs asap

[2015-01-20 14:36] glittershark commented on #100
This is doable using regular old react components - any HTML props you pass to the `<Tr>`, `<Td>`, `<Th>`, etc. are passed on to the rendered DOM node. So you can just do something like:

[code]
if you want to pass the className in your data object.

[2015-01-20 14:36] #100 closed

[2015-01-20 23:12] rtsao commented on #100
It appears passing className to Tr doesn't work:
https://github.com/glittershark/reactable/pull/103

[2015-01-21 01:12] rtsao opened #104 "Update npm package"
The package.json version and npm package should be updated due to the addition of the `filterBy` method.

[2015-01-21 16:28] glittershark commented on #104
:+1:

[2015-01-21 16:31] glittershark commented on #104
Done! Thanks for the issue :smile:

[2015-01-21 16:31] #104 closed

[2015-01-21 16:34] rtsao commented on #104
Much thanks!

[2015-01-22 10:00] yosiat commented on #80
@glittershark I will do it.. I will use browserify to accomplish this.

[2015-01-25 19:18] appsciences commented on #101
Sure thing. Thanks much for creating this, great package, using it in several projects.

[2015-01-25 19:23] appsciences opened #105 "Can't seem to get up/down arrows and the right cursor to appear on column headers for sorting."
Up/down arrows do not appear for me in column headers for sorting (as in http://glittershark.github.io/reactable/), and the hover cursor is an edit cursor. Am I missing a css file (couldn't find any)?

[2015-01-25 19:32] glittershark commented on #105
That's all custom CSS - it doesn't ship with reactable as I'd rather let people style things themselves. The stylesheet for the table on your linked page is [here](

[2015-01-25 19:34] #105 closed

[2015-01-25 19:37] glittershark commented on #105
Btw, the arrows are [here](https://github.com/glittershark/reactable/blob/gh-pages/stylesheets/table.css#L36) and [here](https://github.com/glittershark/reactable/blob/gh-pages/stylesheets/table.css#L43) :smile:

[2015-01-27 23:02] EvanBurchard opened #106 "props (e.g. className) aren't propagating (just npm package?)"
Hey @glittershark. Awesome work overall. I'm having a slight problem though getting my props to come through on my tr and td elements.  It seems like this is fixed with your latest changes.

I hate to be a pain, but if you get a chance, can you bump the version and push it to npm?

[2015-01-27 23:15] glittershark commented on #106
I've just `npm publish`ed v0.9.5, including #103. Thanks!

[2015-01-27 23:15] #106 closed

[2015-01-27 23:26] EvanBurchard commented on #106
Sweet.  Thanks for the quick response.

(in case someone else ends up here, including me later) Still a no go for `<Td className>` but you can hack around it with the `<Tr className>` plus the `data-column` attributes on the `<Td>` if you need to style individual elements.

[2015-01-27 23:30] glittershark opened #107 "Pass through HTML props to rendered Tds"
We already did passing on HTML props to rendered `<Tr>`s in #103, but @EvanBurchard noted in #106 that this isn't happening for `<Td>`s as well.

[2015-01-27 23:35] glittershark commented on #106
Yeah, looks like I missed passing on props to `<Td>`s as well. That's #107 now

[2015-01-28 01:05] akshayp commented on #100
Thanks @glittershark :+1:

[2015-01-28 15:07] #107 closed

[2015-01-28 15:10] glittershark commented on #106
Alright, just published v0.9.6, which fixes the issue with props not getting passed to Tds. Thanks!

[2015-01-28 18:49] EvanBurchard commented on #107
Awesome.  Thanks.

[2015-01-29 02:24] genbit opened #110 "onClick on <Tr />"
How to attach onClick event for TR ?

[code]

Didn't find an answer in documentation, does this functionality exist?

[2015-01-29 13:21] glittershark commented on #110
This is doable with a similar approach to my comment on #100 – just substitute `onClick` for `className`

[2015-01-29 13:21] #110 closed

[2015-01-31 17:41] #101 closed

[2015-02-02 03:00] cymen opened #113 "Is it possible to pass in value for sorting when data is an array of objects?"
In the basic case where data is an array of objects, is it possible to pass in a value for sorting too? Or is there a way to pass in a function for formatting the value for display (and it is unformatted as value so it can still be sorted by that)?

I guessed one way might be to specify the value key for a given column in the columns array (ie use both `key`, `label` and `value`). That way, I coul

[2015-02-02 03:01] cymen commented on #113
I asked due to https://github.com/glittershark/reactable/pull/112.

[2015-02-02 19:07] rtsao commented on #104
Can you update the npm package again? Thanks!

[2015-02-02 19:57] glittershark commented on #104
:+1: was waiting until I had some time to write docs for #112 - did that now. Thanks for the reminder.

[2015-02-02 19:59] glittershark commented on #113
I've been waffling over this - on one hand, specifying values as objects with `key`, `label`, and `value` keys in the data array makes *sense*, but on the other hand it further complicates the already-complicated data array and props schema of the top-level `<Table>` object, and I'd like to gently prod users in the direction of drilling-down into the `<Tr>`s and `<Td>`s when they want to do more c

[2015-02-02 19:59] #113 closed

[2015-02-03 03:34] cymen commented on #113
@glittershark Okay, makes sense. I'm still wrapping my head around using the `<Tr>` and `<Td>` directly. It would be great to have an example of using them programmatically and I don't quite understand how it works if I have say 10,000 rows and want to page through them 20 at a time (I get the pagination but do I make 20 `<Tr>` and populate them with the first 20 records and then just keep swappin

[2015-02-03 03:37] glittershark commented on #113
Nope, Reactable will handle the pagination for you - just pass in all the possible Trs and it'll do all the magic for you.

[2015-02-03 03:38] glittershark commented on #113
Feel free to keep commenting on this issue if you run into more stumbling blocks, since it'll help me write better documentation (which is definitely necessary, clearly)

[2015-02-03 03:40] cymen commented on #113
So for 10,000 rows I pass in 10,000 Trs? Just to confirm -- I might be just thinking about things wrong if that is the case.

[2015-02-03 03:41] glittershark commented on #113
Yep! That's how it's supposed to work.

[2015-02-04 15:35] gregeinfrank commented on #82
Any update on when this upgrade will happen?

[2015-02-04 15:40] glittershark commented on #82
As soon as someone makes a comment like this asking for it :smile: I should be able to get it done this evening.

[2015-02-04 15:41] #87 closed

[2015-02-04 15:42] gregeinfrank commented on #82
Yay! Awesome, looking forward to using it in my react 0.12 app :+1:

[2015-02-04 23:55] mikeygee commented on #100
@glittershark Your example here works if the columns are all known ahead of time. If the columns are generated from a varying data set, it gets a little messier generating the cells. It would be nice to be able to declare a class name within your data object, to be passed on to the cell.

Maybe something like this:
[code]
If the data value is an object, then use the object's value property for the

[2015-02-05 06:33] cymen commented on #113
It is making more sense now -- I made a basic demo to play with here:

https://github.com/cymen/reactable-demo

I noticed when I went from 10,000 rows to 50,000 rows, performance started to grind. What would it take to scale much higher (say 2M rows)? My direct usage of `reactable` is here:

https://github.com/cymen/reactable-demo/blob/master/table.js

[2015-02-05 06:35] cymen commented on #113
I forgot to mention initial load is fast -- sorting is slow (doesn't seem to matter if string or numeric).

[2015-02-05 06:48] cymen commented on #113
I made `CaseInsensitive` sort slightly faster with PR https://github.com/glittershark/reactable/pull/114. I'd like to add a `NumericInteger` sort too -- to avoid the overhead of parsing to float if one has a monster list. I'll do a PR for that too (happy to change the name of the sort).

[2015-02-05 19:24] glittershark commented on #113
:+1: yay for optimization!

[2015-02-05 19:27] glittershark commented on #113
In the future, I'd like to make the use case of *not* storing all the rows in memory supported - maybe a callback function that can return a Promise?

[2015-02-06 21:34] #82 closed

[2015-02-07 23:29] appsciences commented on #105
Many thanks for clarification.

[2015-02-07 23:43] appsciences opened #116 "Allow data values to be functions"
Allow data values to be functions that take data row and row index as parameter. This would allow for clean implementation of calculated fields, html controls in table cells etc.

[2015-02-09 12:34] gregeinfrank commented on #82
thanks!

[2015-02-13 16:21] thechrisproject commented on #80
I was just taking a look at this. reactable_tests seems to have a lot of duplication, unless I'm missing something
![screen shot 2015-02-13 at 10 20 21 am](https://cloud.githubusercontent.com/assets/482304/6190782/fdcefe9a-b369-11e4-905a-542b64659acb.png)

[2015-02-18 10:05] epeli commented on #4
+1

[2015-02-22 19:31] dimotsai opened #118 "Properties of <td> isn't attached correctly."
In the section [Even More Customization](https://github.com/glittershark/reactable#even-more-customization), I found that the properties of `<td>` doesn't seems to be correct after rendering.

![2015-02-23 3 06 51](https://cloud.githubusercontent.com/assets/1947580/6319885/1b028e22-bb09-11e4-9e2a-7757c962b88a.png)

[2015-02-23 20:31] thechrisproject commented on #78
Would this work?
http://facebook.github.io/react/docs/top-level-api.html#react.isvalidelement

[2015-02-23 20:32] glittershark commented on #78
Looks like it, yeah!

[2015-02-23 20:36] thechrisproject commented on #118
This is what your rendered markup looks like? It is weird that you have capitalized <Tr> and <Td> elements rendered... those should be Reactable.Td and Reactable.Tr components, which render regular <tr> and <td> html elements. If you are using Reactable.Td, you shouldn't have to enter your own <td> elements. Also, if you are rendering a <td> inside a react component, it will only render the attrib

[2015-02-23 20:40] glittershark commented on #118
@thechrisproject if you look closer it looks like @dimotsai is using the [react dev tools][1], which display both the capitalized component names and the DOM nodes rendered by those components. So this is still a valid issue report :smile: thanks for taking a look at this though.

[2015-02-23 20:41] glittershark commented on #118
This looks like a resurgence of #106 and #100. @dimotsai, can you verify you're using the latest Reactable version?

[2015-02-23 20:41] thechrisproject commented on #118
@glittershark - Oops! Thanks for pointing that out. Color me embarrassed.

[2015-02-23 20:42] glittershark commented on #116
I like this conceptually, but it's reasonably difficult to implement when combined with filtering and pagination. How I think of it working is providing a function for filtering and pagination that each return a Promise, so they can do AJAX requests and stuff.

[2015-02-24 05:39] dimotsai commented on #118
@glittershark, Yes, it is the latest version.

Looks like there is a problem in this for-loop (https://github.com/glittershark/reactable/blob/master/src/reactable.jsx#L253-L258).
[code]
Since `this.props.column` is always a string, this for-loop will take every character as a element and attach it to a `<td>`.

[2015-02-24 14:24] glittershark commented on #80
@thechrisproject that's... definitely an issue. Going to do a diff of the two and try to consolidate them.

[2015-02-24 14:58] #118 closed

[2015-02-24 15:04] glittershark commented on #118
ah, alright. thanks for narrowing that down. I've just pushed a commit that (I think) fixes the issue, can you try this out again on master and confirm that?

thanks!

[2015-02-24 15:53] dimotsai commented on #118
It works. Thanks for your fix. :thumbsup:

[2015-02-24 18:42] glittershark commented on #118
Cool! Just pushed version 0.10.1 with this fix.

[2015-02-27 03:13] okcoker opened #122 "Table only accepts nested <Td> elements"
Currently it seems as the Table only accepts `<Reactable.Td>` elements.

I am trying to customize the `<Reactable.Th>` columns to have the labels, along with some "unsafe" html. Something like this:

[code]

This renders my table with the appropriate data, but under an empty row. Seems as though adding my own `Thead` and `Th` elements causes an empty row and is completely ignored by Reactable. `bo

[2015-02-27 03:16] glittershark commented on #122
Yeah, there's a fair amount of (admittedly hackish) checking of types of child components - that line you linked is almost definitely the place to start.

If you work at it and get stuck, I always like pull requests with failing tests :smile:

[2015-03-02 19:39] killerswan commented on #59
FWIW, this was a really helpful question in the first place.  Thanks everyone!

[2015-03-03 05:06] killerswan opened #124 "suggestion: provide an alternative which puts the row data into state, instead of properties"
Today I put together this class, so that I can make objects which I can call `setState` on to update in place, to add more data to a Reactable table, on demand.

Is there a more graceful way?  Is this pattern going to be common enough you want me to stick this in a pull request?

[code]

[2015-03-03 14:52] glittershark commented on #124
I've always felt that the best way to conform to the React architectural standards was to let users do the wrapping you're doing themselves - keep in mind that the use case of calling `setState` outside of a component is not really the way React recommends doing things - the state should exist in some sort of parent component and get set in methods on that parent component (ie, as a result of AJAX

[2015-03-03 14:52] #124 closed

[2015-03-03 20:42] killerswan commented on #124
I see, so then the Reactable.Table is the only thing touching its own state, and the parent is the only thing touching its own, etc.

[2015-03-04 08:52] jlgerber opened #125 "provide ability to define onClick callback from table without explicitly defining children"
I don't see any documentation for this, but I do see a click callback on the reactable.td element. It would be great if we could define an onClick which propagates down to the individual td elements without having to explicitly supply children (ie an onClick on the actual table component, wherein I just supply data

<reactable data={ mydata } onClick={this.tableCellClicked}...

[2015-03-09 16:06] bobsamuels opened #128 "Add placeholder text to filter field"
We're using reactable in our project and really love it.  One thing we want though, is the ability to define a placeholder text for the input field that gets appended when filters are available.  I've created a pull request with a really basic implementation of this.  Thoughts?

https://github.com/glittershark/reactable/pull/127

[2015-03-11 15:06] nt3rp commented on #4
+1

[2015-03-11 15:18] glittershark commented on #4
Wonderful, democracy via +1 :smile:. I'll get started on this feature!

[2015-03-11 15:43] #128 closed

[2015-03-11 15:45] glittershark commented on #122
So it looks like React.addons.TestUtils has a [function][] to determine the type of a React component. Might be good to just directly copy+paste the source of that function (since we don't want to require people include the entire testutils into their page)

[function]: http://facebook.github.io/react/docs/test-utils.html#iselementoftype

[2015-03-12 14:05] bryanlarsen opened #129 "claim header disappears if filter enabled dynamically"
I've set up my filter to be dynamic.   IOW, it displays when the user presses a "search" button, and hides when they press it again.

    <Reactable.Table  filterable={this.props.searchEnabled && ['Number', 'Status', 'Name', 'Date', 'otal', 'Submitted', 'Paid']} >

transitioning this.props.searchEnabled from false to true causes the column headers to disappear.  They're still missing on a transiti

[2015-03-12 14:12] bryanlarsen opened #130 "some cells are blank"
[code]

displays nothing in any of the number cells.   claim.number is a Number, so I added the toString() in a futile attempt to get it to appear.

[2015-03-12 14:33] glittershark commented on #130
Can you provide a sample (obviously not real :wink:) of what the result of a call to `claims.toJS()` might look like?

[2015-03-12 14:47] bryanlarsen commented on #130
claims is an immutable-js array, so the output of toJS() is a plain old javascript array.

[code]

[2015-03-12 14:49] glittershark commented on #129
Cool, I've got a failing test reproducing this issue. Thanks for the report!

[2015-03-12 14:49] glittershark commented on #130
Cool, that's what I needed.

[2015-03-17 20:04] gregeinfrank opened #131 "Add <Reactable.Tfoot>, and ignore it when filtering or sorting."
I think this is possible with a custom sort function, but is there an easier way to "anchor" the last row of the table so that when sorting, it's always the last row?

My use case is a table where the last row is an input box to add values, and should therefore always be at the end.

[2015-03-17 20:22] glittershark commented on #131
Just stick it in a [`<tfoot>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tfoot)! :smile:

[2015-03-17 20:23] glittershark commented on #131
...come to think of it, that might not work. It should, though

[2015-03-17 20:23] glittershark commented on #131
Related to #123

[2015-03-17 21:36] gregeinfrank commented on #131
@glittershark I just confirmed, that did not work.

[2015-03-17 22:00] glittershark commented on #131
:+1: I'll get on implementing this, then.

[2015-03-17 22:05] gregeinfrank commented on #131
awesome. You're the man!

[2015-03-19 16:10] gregeinfrank commented on #84
@glittershark I'm trying to include a full-width `<tfoot>` at the bottom of the `Table`, but it seems impossible right now. I *think* colspan of 0 is the only way to do it right?

[2015-03-24 09:32] kopancek opened #133 "Error in console: "Danger: Discarding unexpected node""
Hi,

I am getting an error in console when displaying reactable in my application. Using react 0.12.2 and reactable 0.10.1.

[code]

I've narrowed it down to the filterer and the source code in reactable.jsx:
[code]
The problematic part is returning an empty string there, which creates the unexpected node. In my opinion way cleaner code would look like:
[code]
Because it does not output an empty e

[2015-03-30 15:42] 01AutoMonkey opened #134 "How would I make changes to pagenation, sort, and filter/search be reflected in the URL as a Hash or HTML5 history?"
So I'm trying to update my URL on changes to the state of my table (I'm using [react-router](https://github.com/rackt/react-router)), so far I have this:

[code]

Now `this.refs.table.state` has all the data I need, but how would I listen to changes in it so that I can update my URL accordingly? I'm thinking I either have to detect pagenation and column order clicks, and filter typing, or somehow

[2015-03-31 14:29] 01AutoMonkey commented on #134
Okay it wasn't really that complicated, I ended up doing this:

[code]

[2015-03-31 14:36] glittershark commented on #134
Glad you figured it out!

[2015-03-31 14:36] #134 closed

[2015-04-02 21:06] irium commented on #125
+1 on this. Also it will be very useful to have `onRowClick` too.

[2015-04-15 09:03] quatrix commented on #122
I'm trying to customize <Th> to have a checkbox, a 'select all' type of thing and having the same problem.

[2015-04-17 15:36] lamuria opened #139 "Lazy loading pagination"
Hi,

Is it possible to load elements from the server only after clicking on next page or previous page?

Can you show me an example?

I didn't see nothing about this kind of lazy loading.

Thanks

[2015-04-20 18:54] nirco123 opened #140 "Call function from column field"
one of my columns is a button , how can i call function when this button is clicked.
I am using
onChange={self.recategorize.bind(self, ex)}
but when using  Reactable.unsafe this method doesnt seem to work.

[2015-04-27 08:25] anyong commented on #125
Anybody made progress on this yet before I start to write it?

[2015-04-27 13:30] glittershark commented on #125
@anyong nobody as far as I know. Let's call the event handlers themselves `onTrClick` and `onTdClick`

[2015-05-02 02:33] paulmelnikow opened #141 "If table doesn't render during a given pass, it will not render on any subsequent passes"
Hi there, thanks for this great library!

I have a component which loads data from a web service and then displays in a table. Until the data is loaded, I want to display nothing. I have code like this, which works fine:

[code]

When I try to do the same with reactable I run into trouble. It seems that if `<Table>` doesn't render on a given pass, it will not render on any subsequent pass either.

[2015-05-08 16:05] lamuria commented on #139
no responses..

[2015-05-08 16:05] #139 closed

[2015-05-12 05:43] coryasato commented on #133
I get a similar error when I'm bringing the component in as a conditional under render.

```Danger: Discarding unexpected node: <span data-reactid=​".0.1.1.0.0.1.0.0.0:​1.2.0.$thead.0">​</span>​```

When I setState and re-render my view via a flux store, I get the error.  On initial load I have the Table rendered with no error, so it's somewhere in the clean-up perhaps?

I'll try to dig further tm

[2015-05-12 14:35] MikaelLarsson opened #142 "Make it work with multiple keywords?"
Is it possible to get reactable to work with multiple keywords?

[2015-05-12 15:14] glittershark commented on #142
I'm not quite sure what you mean by this

[2015-05-12 16:14] MikaelLarsson commented on #142
Like, if I'm not sure what I'm looking for i might put in a few words and the results would show the rows that matches any of the keywords in the query.

[2015-05-12 16:16] glittershark commented on #142
As a more general solution, we should just support custom filtering functions

[2015-05-12 16:37] MikaelLarsson opened #143 "error: filterBy is not a function"
I don't see any issues on this so it's probably just me so I apologize in forehand. I get "filterBy is not a function" error.

This is my render method:

[code]

[2015-05-12 16:44] glittershark commented on #143
Rather than storing the return value of `<Table>` and referencing that, in your case you need to use a React [ref][], on the `<Table>`, and reference that.

[ref]: https://facebook.github.io/react/docs/more-about-refs.html

[2015-05-12 16:44] #143 closed

[2015-05-13 08:02] MikaelLarsson commented on #143
I'm sorry but I can't wrap my head around this. I get the same error as before. When i console `this.refs.itemsTable` I see that the first time it will be `undefined`. Then it will render two more times with reference to the table.

This is my render:

[code]

[2015-05-13 15:32] JbRezidu opened #144 "unsafe string for a column label"
Hi,

I actually use reactable for my project, but i have a little problem, when I want to use the unsafe string for a column label. Indeed I have an error : "unexpected string" on the line when i use the unsafe string for a column label. I am not english so, I don't know if I well understand the Readme  about that...

This is my code :

	var Table = Reactable.Table,
		unsafe = Reactable.unsafe;

[2015-05-14 13:58] mklauber opened #145 "Column Order changes when Sorting?"
I'm having a strange issue.  Essentially, whenever I sort a column, the order of the columns changes.  I've cut my app down to the the simplest code I can and I still get this behavior.  Am I missing something?

[code]

[2015-05-14 14:02] glittershark commented on #145
This definitely sounds like a bug to me. Does it happen when you manually specify the columns in an array?

[2015-05-14 14:07] mklauber commented on #145
No it does not.  Thanks.

[2015-05-14 14:19] glittershark commented on #145
Alright - that's a temporary workaround, but this is still definitely a bug.

[2015-05-19 09:31] JbRezidu opened #146 "Customization of the filter input"
Hi,

I would like to know if there are issues to custom the input which we use for the filter in the table.
I see filterBy which allow to put a default filter when the component is mounted but I didn't find something to change the input filter itself.

For the moment I use the innerHTML in js to change this but it's, I think, not the best solution.

[2015-05-20 07:00] JbRezidu commented on #144
Sorry for this post, I found it alone.

[2015-05-20 07:00] #144 closed

[2015-05-27 14:58] andybeesee commented on #133
Same thing happened to me, the initial render was fine but I would get ```Danger: Discarding unexpected node:...``` when I would attempt to sort the data (not even using a custom sort).

I had a customized table with cells like...

[code]

Where the render method of *SomeComponent* looked a little like...

[code]

Switching the component to always return a div stopped the error for me.

[code]

I

[2015-05-27 15:01] glittershark commented on #133
I think this is a couple errors, all related to the rules the DOM places on nesting specific nodes:

- you can't have anything in a `<tr>` except a `<td>` or a `<th>` - this is why the `<Filterer>` is complaining
- You can't have a `<p>` inside another `<p>` - this seems like @andybeesee's error

The latter is all calling code, but the former is definitely a Reactable bug.

[2015-06-05 17:47] benkeen commented on #133
+1 Ran into this too.

[2015-06-10 20:15] glittershark opened #148 "Providing `null` as a column throws an error"
For example, when only displaying a column conditionally via a ternary

[2015-06-11 14:02] glittershark commented on #141
Might want to change your render to:
[code]

React doesn't generally like `render` methods that return anything other than a valid React component.

Feel free to reopen the issue if you're still experiencing problems

[2015-06-11 14:02] #141 closed

[2015-06-11 14:03] glittershark commented on #140
You'll have to render the columns inside the table as in [these docs](https://github.com/glittershark/reactable#even-more-customization)

[2015-06-11 14:03] #140 closed

[2015-06-11 14:14] #133 closed

[2015-06-11 18:54] #148 closed

[2015-06-12 20:54] cbtposborne opened #151 "Hiding sort arrows on a single column"
I have a table that has one row column that is just edit or delete links. It is not something that needs to be sort3ed.  How would i set that from the Table component? Here is my function:

{column: '', sortFunction: function() {
                            return false;
                        }}

[2015-06-16 16:33] joneshf commented on #70
Is this still relevant or has it been taken care of.

[2015-06-16 16:33] glittershark commented on #70
Definitely still want this.

[2015-06-18 15:10] rzeszutekjacek commented on #4
:+1: any plans for this feature ? :)

A solution even like this would be super helpful :)
[code]

[2015-06-19 19:08] growlsworth opened #152 "Awesome software"
Hey Glittershark,

I just wanted to let you know that this is an excellent component. It's a great example of a tool that does one thing and does it exceptionally well. Thanks for open sourcing this tool.

Thanks!
-Thomas

[2015-06-19 19:08] #152 closed

[2015-06-20 09:25] idevchew commented on #125
Question - I noticed that the Td cell has a onClick callback which is assigned to handleClick at init,
When I try to pass handleClick={this.myClick} from a parent node, the myClick is not passed at all although the handleClick is being called. It seems that this is being filtered out?

I am working around this as follows

var tdEvent = new CustomEvent( 'ReactableCellEvent' , {

[2015-06-21 21:49] glittershark commented on #152
Thanks so much! this totally made my day :grinning:

[2015-06-22 14:30] glittershark commented on #151
This should be covered by #154

[2015-06-22 14:30] #151 closed

[2015-07-03 17:09] #80 closed

[2015-07-08 00:57] growlsworth opened #156 "Putting table rows in other components"
Hey @glittershark,

I'd like to have my table rows exist in a different file/component from the table component. Something like this:

[code]

However it doesn't render properly. Any thoughts? I've tried manually specifying columns, but that didn't make a difference. The closest I've gotten is it showing three blank rows.

Thanks!

[2015-07-08 17:04] KendallPark opened #157 "Uncaught TypeError: Cannot read property 'props' of undefined"
I'm working off the latest build and I'm getting this error when I click any of my table rows:

[code]

It points to here:
https://github.com/glittershark/reactable/blame/a07772d863a462e453890115bfbf598d29dfa16e/src/reactable/td.jsx#L7

Perhaps something got jumbled when everything was extracted?

[2015-07-08 17:31] #157 closed

[2015-07-09 16:45] alfredo-cp opened #159 "exports.Td specified without a `data` property or children, ignoring"
I'm trying to pass a custom component (which returns a ```Td``` component) to a ```Tr``` component but it doesn't work. I think for now it expects all children should be a ```Td```

[code]

[2015-07-09 16:52] glittershark commented on #159
Dupe of #156 (except this one's with `Td` rather than `Tr`)

[2015-07-09 16:52] #159 closed

[2015-07-09 16:57] glittershark commented on #156
So, yeah, we should definitely allow this. The problem, at least with the Tr, is that the table parses through its children components and only pulls data from `Tr`s - maybe we descend a level down for each component and check the type of that?

[2015-07-09 17:34] growlsworth commented on #156
Thanks for taking a look. If I remove the reactable elements and go with the standard `<table>`, `<tr>`, and `<td>` elements, then the html is correct, even if React thinks there are more virtual elements. I think it makes sense for reactable to try to be a drop in replacement for  basic `<table>`, `<tr>`, and `<td>` elements. To achieve this, I think you're right. It's a reasonable assumption to

[2015-07-09 17:42] alfredo-cp commented on #156
@growlsworth exactly, I'm rendering a table which will have different type of content (buttons, dropdowns, links, etc) and I was thinking into create a base cell component wich will ask what type of cell to render, and also will validate data, etc.

I solved it for now just passing the normal ```Tr``` and my custom component as its children.

[code]

[2015-07-09 19:44] #131 closed

[2015-07-13 09:48] akohout commented on #144
It's always nicer to post the found solution..

[2015-07-14 17:15] thegoleffect opened #162 "Embedding other React components inside Reactable Data?"
Is it possible to embed other React components (like Link or your own customer components) inside the data to Reactable?

[code]

[2015-07-14 17:19] thegoleffect commented on #162
I've tried this directly and via the `unsafe()` and neither approach seems to work.

[2015-07-14 17:27] glittershark commented on #162
Per the documentation, you'd have to do this by embedding the component inside a `<Tr>` or `<Td>`

[2015-07-14 17:27] #162 closed

[2015-07-14 17:27] glittershark commented on #162
see [this doc](https://github.com/glittershark/reactable#even-more-customization)

[2015-07-14 18:09] thegoleffect commented on #162
Thanks. It isn't super clear from the docs that based on my use-case that I should refer to that doc.

I was able to get it to work, but since I am wrapping every row, I can't pass in data to `<Table>` and have to loop over data inside the `<Table></Table>` tags and generate Tr/Tds. This loses a lot of the concise data-oriented benefits of using Reactable though :(. But it works. Thanks!

[2015-07-15 09:09] akohout opened #163 "More Documentation"
It's a really cool library, and it was pretty easy to integrate and do the work for me. However, it was harder to get the necessary information.

One PR I send was about the value property on Td components. It's a cool feature, but it wasn't documented (and still isn't for filtering). Another simpler feature is setting the placeholder for the FilterInput. And I bet there are more cool features tha

[2015-07-17 09:25] MikaelLarsson opened #164 "HTML in columns breaks filter?"
Trying to add some JSX in the one of the columns like:
[code]

But makes the filter function unusable for the Company column. Is there a way around this currently?

[2015-07-17 13:27] glittershark commented on #164
Dupe of #162

[2015-07-17 13:27] #164 closed

[2015-08-02 00:01] buduguru commented on #133
The same here. I had
[code]
error disappeared after I changed `p` to `div`

[2015-08-02 14:01] glittershark commented on #133
@buduguru Is your `<p>` nested inside another `<p>`?

[2015-08-07 13:45] damienleroux opened #165 "How sorting column with link"
Hi,

My column has cells with html content. Example:
[code]
The cell cannot be sorted if there is thehtml tag ```<a>```.If I remove this tag it is working perfectly fine. What can be done to enable the sorting for this kind of content?

[2015-08-07 15:13] glittershark commented on #165
Use the `value` property on the `<Td>`

[2015-08-07 15:14] #165 closed

[2015-08-13 00:10] growlsworth commented on #156
This is proving to be more difficult than I would like. The issue is that I cannot get children of external sub components. Will require more investigation.

[2015-08-13 19:07] growlsworth opened #167 "Issue with requiring via webpack"
Error: Cannot find module './stringable

in [node_modules/reactable/build/reactable.js:95](https://github.com/glittershark/reactable/blob/master/build/reactable.js#L95).

I'm running on https://github.com/glittershark/reactable/releases/tag/0.11.0-beta2.

[2015-08-14 10:17] 02ps719 opened #168 "Getting an error using test.html"
Hi,

Thanks for this nice component.

I am trying to use this React Table for a project and to get a hang of it, downloaded the zip file https://github.com/glittershark/reactable/archive/master.zip and tried opening up test.html in chrome.

Ensured I changed the reference to React to 0.12 in the test.html source file.

But I am getting this error - 'Super expression must either be null or a functi

[2015-08-14 15:19] glittershark commented on #168
`test.html` is pretty out of date - there's no guarantee that it'll work. I should just get rid of it.

[2015-08-14 15:19] #168 closed

[2015-08-14 15:51] Anahkiasen opened #169 "Pass cell/row classes through object?"
Currently to assign a class to a cell you have to override Reactable's whole structure, it would be nice if you were able to do something like:

[code]

Could also work for all other attributes, by then doing internally something like `<Td {...attributes}>{attributes.value}</Td>` or something

[2015-08-14 16:42] glittershark commented on #169
This is beyond the scope of what I want to do with Reactable. It'd be pretty easy to do in a wrapper class if you like, though.

[2015-08-14 16:42] #169 closed

[2015-08-14 19:31] buduguru commented on #133
@glittershark no, it is was inside `<div>`

[2015-08-21 15:34] hellogerard commented on #156
+1 for this. My table rows are pretty complex, and it makes sense to put them in their own Component.

Great component, BTW.

[2015-08-23 02:40] aidanlister commented on #156
I'm trying to replicate an Angular UI table that looks like so: http://share.aidanlister.com/cjzX and finding it somewhat impossible in Reactable.

@growlsworth's renderRow looks like a really elegant way of handling it.

How far up the ladder you want to go in terms of declarative vs configuration is probably another discussion ... it would be cool to specify the renderer as part of the column de

[2015-08-25 16:56] austinwang opened #170 "Support for subrows"
Would be awesome if we can somehow have child rows under each row. Something like this.

https://www.datatables.net/examples/api/row_details.html

The sorting and filtering would only need to apply to the top level rows. Children rows belonging to top level rows that have been filtered out would not be shown.

[2015-08-25 19:24] jgarcia99 commented on #156
So has this issue been solved? I also have a Row component with props in the td's nested in my Table component & I get the same console errors @alfredo-cp got.

[2015-08-25 19:27] growlsworth commented on #156
There's an implementation discussion happening at https://github.com/glittershark/reactable/pull/166.

[2015-08-25 19:41] jgarcia99 commented on #156
@alfredo-cp what was your temporary resolution? Need some help

[2015-08-25 19:42] jgarcia99 commented on #156
[code]

[2015-08-25 20:07] alfredo-cp commented on #156
@jgarcia99 I posted above what my temp solution was. I ended up doing my own grid component.

[2015-08-26 10:58] clarkie commented on #146
I've updated the readme to include the `filterPlaceholder` option

[2015-08-26 14:29] jgarcia99 commented on #156
@alfredo-cp you think I should go that route I see yours was td instead

[2015-08-26 17:21] alfredo-cp commented on #156
@jgarcia99 if your data is complex rather than a plain object with strings I'd say go for your own grid component.

[2015-08-26 20:54] jgarcia99 commented on #156
Mine is just an array of objects. @alfredo-cp

[2015-08-27 16:14] cumbreras commented on #4
Finding myself with many issues now that I'm dealing with upto 35000 rows split in 100s. The pagination gets absolutely ridiculous... What about a more google like style (hiding most of the actual pages) adding more, last, previous and first?

[2015-08-27 16:25] glittershark commented on #4
@cumbreras absolutely. Been on my mental list for a while now.

[2015-08-27 16:25] glittershark commented on #4
@cumbreras mind opening another issue for that?

[2015-08-27 16:28] cumbreras commented on #4
Sure, will do so :smile:

[2015-08-27 16:40] cumbreras opened #174 "New pagination"
Hi,

As discussed in other issue, I think it's a really needed the re-implementation of the pagination feature, improving the logic to display the page links in a smarter way.

I suggest something more in google style (hiding most of the actual page links) adding more, last, previous and first?

Examples and ideas more than welcome!

[2015-08-28 02:06] tsargent commented on #174
I think this is a great idea.  I have a small PR going here that might be a step in that direction: https://github.com/glittershark/reactable/pull/175

[2015-08-29 02:25] brandonros commented on #145
Can confirm the example code listed right on the site (the data boasting the ability to omit certain columns for certain rows) is guilty of this

[2015-09-02 09:14] mobinni opened #176 "Prepend custom filter to thead bypass"
Is there a way to bypass it, I want to implement a custom filter with a button.

[2015-09-02 09:21] mobinni commented on #176
Forked it myself and put the code to generate the filter input in comments

[2015-09-02 09:21] #176 closed

[2015-09-04 18:42] rchanou opened #177 "validateDOMNesting warning w/ React 0.14"
I'm using React 0.14 beta 3. Rendering any Table triggers this warning:

[code]

Additional prop changes after this can cause Invariant Violation errors and break the app.

[2015-09-04 18:49] glittershark commented on #177
Looks similar to #133. Are you using the latest version of Reactable?

[2015-09-04 18:49] glittershark commented on #177
Oops, scratch that. Looks like a similar but not identical issue.

[2015-09-07 10:19] cumbreras commented on #174
Brilliant work @tsargent !

[2015-09-07 10:19] #174 closed

[2015-09-09 22:44] growlsworth commented on #167
When updating to 0.11.0 I just experienced this as well.

[2015-09-10 17:46] glittershark commented on #167
This seems to me like an issue with the naïve concatenation of modules we're doing in order to get a single UMD file. That build workflow needs to be reworked somehow... Any thoughts?

[2015-09-10 18:02] growlsworth commented on #167
Yo, I recommend not having [`main` in package.json](https://github.com/glittershark/reactable/blob/master/package.json#L5) point to a single UMD file. If you take a look at https://github.com/fmoo/react-typeahead as a random example, the author compiles the jsx files to es5 files and puts that in lib, with the same file/folder structure. Then [`main` in package.json](https://github.com/fmoo/react-

[2015-09-10 18:14] glittershark commented on #167
ah! alright, that's a simple enough solution.

[2015-09-11 13:52] bastiao commented on #167
Please, fix it ASAP.

[2015-09-11 14:41] glittershark commented on #167
If you need it fixed on a certain schedule you're welcome to submit a PR yourself

[2015-09-14 06:16] Duan112358 commented on #167
If install it via bower, and added bower_components into webpack's resolveDirectories, may be helpful

[2015-09-15 16:55] mdarens opened #181 "Accessibility: Pagination links cannot receive focus"
The pager currently doesn't add `href` or `tabIndex` to its links, which makes it substantially more difficult to navigate pages with the keyboard.

# Proposed Solution
Add `href`s to the links in [paginator.jsx](https://github.com/glittershark/reactable/blob/cc0f08e8ffeec3ec48d760b315ff34add0f8303b/src/reactable/paginator.jsx) and update the event handlers to call `preventDefault`.

[2015-09-15 20:35] glittershark commented on #181
ooh, yeah, absolutely. What would you like to see in the hrefs? just `#`?

[2015-09-15 20:39] mdarens commented on #181
That would be the simplest solution imho, otherwise something like the way react-bootstrap does it in [`SafeAnchor`](https://github.com/react-bootstrap/react-bootstrap/blob/de0b0e4e057de73448e298f941c8e7369e27e257/src/SafeAnchor.js), but that might be overkill.

[2015-09-15 22:12] glittershark commented on #181
Definitely like the idea of adding `role="button"` to all the pagination links, too.

[2015-09-16 09:30] reggi opened #182 "Add support for parsing column labels out of a Th"
I'm trying to recreate this functionalty:

![screen shot 2015-09-16 at 5 07 28 am](https://cloud.githubusercontent.com/assets/296798/9901192/ea16af60-5c33-11e5-8357-81e03681d2cb.png)

The first column is a react component and the third has a special sorted class.

Can this be achieved with this module? I check the docs and I didn't see a way this was possible.

[2015-09-19 16:09] davidblurton commented on #167
I am using the following workaround:

  1. Copy the built version into a file called `reactable.js`
  2. npm install `expose-loader` and `imports-loader`
  3. Add the following to the modules section in your webpack.config

[code]

Works with the latest version but you get lots of `React component classes must extend React.Component.` warnings.

[2015-09-19 20:00] #167 closed

[2015-09-19 20:01] glittershark commented on #167
@growlsworth et al, please feel free to comment/reopen if #179 didn't fix this for you. A PR to add tests for webpack inclusion would also be wonderful, as I don't (and haven't ever) use webpack

[2015-09-19 21:12] glittershark opened #183 "Allow filterBy to take an object"
the `filterBy()` function on the table should be able to take an object mapping column names to values to filter those columns by

/cc @aidanlister

[2015-09-19 21:57] glittershark commented on #182
So, currently a workaround is to set the `label` property of the column to a `reactable.Unsafe` string. That's definitely less than optimal, so we should add support for parsing column labels out of a `Th`

[2015-09-20 01:48] glittershark commented on #182
@reggi just pushed [0.11.2][tag] containing an implementation for this. The corresponding docs can be found [here][docs] (see the second bullet point and associated code example)

[tag]: https://github.com/glittershark/reactable/releases/tag/0.11.2
[docs]: https://github.com/glittershark/reactable#customizing-columns

[2015-09-20 02:16] #181 closed

[2015-09-20 02:19] glittershark commented on #163
I feel like there's a point where we'll outgrow putting all the documentation in the README - but we haven't reached that point yet. I say let's keep all the documentation in the README for now and cross that bridge when we come to it.

I would, however, be totally open to adding more "cookbook"-style examples (here's how to implement this particular use case, etc.) to a wiki

I'm going to close t

[2015-09-20 02:19] #163 closed

[2015-09-20 02:19] glittershark commented on #85
This is no longer relevant thanks to Babel and #155

[2015-09-20 02:19] #85 closed

[2015-09-20 19:07] reggi opened #186 "Allow filterBy() to take a query?"
I want to roll my own filter input and not use the default, how can I achieve this? Can I use `filterBy()` to set a non-column-specific query?

[2015-09-20 19:35] reggi opened #187 "Website "### Filtering" header isn't working"
On the website the link for "filtering" doesn't work because the header isn't being processed from markdown correctly. http://glittershark.github.io/reactable/

[2015-09-20 21:13] glittershark commented on #186
`filterBy` is currently not specific to columns - it just takes a single string to filter all `filterable` columns with. There's also #183, does that do what you want?

[2015-09-21 02:07] reggi commented on #182
Hey just tried to use this and found a bug, put in a pull request to fix it.

Just wanted to mention that in your example the `content` will not show, It would be nice if it still showed no? Just a thought, I don't mind.

[code]

[2015-09-21 02:11] glittershark commented on #182
The idea is that like with specifying an explicit `columns` arrwy

[2015-09-21 02:11] #182 closed

[2015-09-21 03:06] reggi opened #189 "Can't set the className of a Th"
Not sure why but it's really frustrating :(

[2015-09-21 03:07] glittershark commented on #189
className of what? the Th?

[2015-09-21 03:10] reggi commented on #189
@glittershark Yeah I'm unable to set the `className` of the `Th`. Thoughts on why? The props filter shouldn't be stripping it.

[2015-09-21 03:12] glittershark commented on #189
Yep, I know exactly why this is happening.

[2015-09-21 03:12] reggi commented on #189
Seems like your applying your own `className` like this `reactable-th-{this.props.column}` can't find where though. Perhaps should be adding passed in className instead of overriding?

[2015-09-21 03:15] reggi commented on #189
Here? https://github.com/glittershark/reactable/blob/2987bf1659b43aa171703f80e8586a1664a8069c/src/reactable/thead.jsx#L60

[2015-09-21 03:19] glittershark commented on #189
We're not actually storing the passed in `Th`, we're just parsing the `column` and `children` out of it and storing it in an array ([here][store]), and then re-building it into a `Th` [here][rebuild].

Solution in my mind would be to store a `headerProps` attribute along with that that's the result of calling `filterPropsFrom` on the `Th`'s props

[store]: https://github.com/glittershark/reactable

[2015-09-21 03:22] reggi commented on #189
Can't we just store all the props from `th.props` instead of just `column` and `children` and rebuild the whole thing? That way I we can pass it whatever we want?

[2015-09-21 03:24] glittershark commented on #189
I'd like to keep the props that are only necessary for rebuilding a component separate from the props that reference the actual data. In that vein, I feel like the best bet is:

[code]

[2015-09-21 03:26] glittershark commented on #189
Actually, on second thought that's not as good because we still want to maintain backwards compatibility with [the columns array Table prop](https://github.com/glittershark/reactable#customizing-columns), and so we need to keep the `label` prop around, and it makes sense to reuse that for children. So, final word is `column`, `headerProps`, `label`

[2015-09-21 03:31] reggi commented on #189
So your proposing this: `<Th headerProps={className: 'something'}>` ?

[2015-09-21 03:31] glittershark commented on #187
Fixed, thanks for the heads up

[2015-09-21 03:31] glittershark commented on #189
nonono, I'm just talking about the intermediate internal representation. The caller API would still use regular old props

[2015-09-21 03:38] reggi commented on #189
Gotcha, I just put this together super sloppy. [Full example here](https://gist.github.com/reggi/f3ceef54843aa6d0ba14)

[code]

[2015-09-21 03:42] #189 closed

[2015-09-21 03:43] glittershark commented on #189
oops, crossed the streams :smile: 2b97c13 includes concatenating together classes, though

[2015-09-21 04:38] reggi opened #191 "Can't get sort to work with custom thead"
I can't get `sortable` to work I'm clicking on the `Th` and nothing is happening. Thoughts?

[code]

[2015-09-21 06:26] reggi opened #192 "When sorted column moves? (with gif)"
![oldfashionedwildadder](https://cloud.githubusercontent.com/assets/296798/9986233/1d61c0bc-6008-11e5-9fdb-3cffc0566c70.gif)

What's happening here?

[code]

[2015-09-21 06:27] #187 closed

[2015-09-21 06:38] reggi commented on #186
How am I supposed to access the `table.filterBy` when `renderComponent` has been deprecated?

[2015-09-23 01:10] growlsworth opened #194 "release after tabIndex commit"
https://github.com/glittershark/reactable/commit/0684246bca3a4b4408bd4d001027f5df78d5f1d0

To remove warnings

Thanks!

[2015-09-23 01:10] growlsworth commented on #194
Eh. I'll just pull from gh. Ttyl.

[2015-09-23 01:10] #194 closed

[2015-09-25 11:32] gravitycode commented on #156
+1 for this. I need split my complex rows implementation in other component

[2015-09-30 11:58] hu9o commented on #4
As of today, is there a way to style the pagination ?
If not, is it still planned ?

[2015-09-30 20:07] jmarceli commented on #4
I'm also interested in styling pagination. Is it ready feature, or just a milestone?

[2015-09-30 20:30] glittershark commented on #4
It's on the roadmap.

[2015-10-01 12:19] jmarceli opened #198 "pagination bug"
When pagination is so long that not all buttons are visible (example 14 pages):

![image](https://cloud.githubusercontent.com/assets/4281333/10220320/bf52883e-6846-11e5-8df9-e52b994eb5b1.png)

and i go to the last visible page (10 in this case):

![image](https://cloud.githubusercontent.com/assets/4281333/10220325/cdf32e66-6846-11e5-83cd-140924627f76.png)

"New" buttons just don't work (in example

[2015-10-08 08:45] trevex commented on #183
Another option would be to use a function, so that the user can specify how the list is filtered, which would allow also allow the implementation of some more extended functionality including ranges (e.g. range of ages, timespans etc.) and fuzzy search.

The user would then simply provide some function taking an item and returning `true` or `false` (`bool myFilterFunction(item)`).

Furthermore thi

[2015-10-08 10:54] aidanlister commented on #183
Another approach I've seen is pre-rendering the filter values for each column, which is often faster and easier to understand. So for example if you're displaying column-x you might say that filtering that field should look for values in column-y ... that lets you take complex render values and seperate out what the searchable data is.

The per-row function can be quite computationally expensive w

[2015-10-16 11:55] abhi10desai opened #199 "We dont find the css file in the source folder"

[2015-10-16 11:55] abhi10desai commented on #199
We dont find the css file in the source folder

[2015-10-16 16:04] glittershark commented on #199
This is a javascript library.

[2015-10-16 16:04] #199 closed

[2015-10-18 16:56] glittershark commented on #192
Dupe of #145

[2015-10-18 16:56] #192 closed

[2015-10-22 02:54] mychaelgo opened #201 "[Question] Custom Filterable"
how i create custom filterable?
for example i get data 'payment_type' on database, which is enum 0,1,2 ... etc
i convert the enum to string ex : 0 : "bank transfer" , 1: "credit card" .. etc

how i can search by string of enum ? not by enum value

[2015-10-28 17:27] tomask-de commented on #63
@glittershark
Could you provide an example for that, e.g. a simple hover effect for a row with onMouseOver and onMouseOut?

Thx in advance

[2015-11-04 16:02] jasonblanchard opened #203 "NPM version bump"
Can we get an NPM version bump for the last few changes?

Thanks!

[2015-11-05 15:56] javflores commented on #84
Hi @glittershark is colSpan supported already in Reactable?
If not maybe I can help moving that pull request by @paulcameron move forward: https://github.com/glittershark/reactable/pull/135

[2015-11-09 06:15] dbkaplun opened #204 "Warning: React.findDOMNode is deprecated. Please use ReactDOM.findDOMNode from require('react-dom') instead."
https://github.com/glittershark/reactable/blob/f1201cdbcef1e401ed39f2e6229e74af99e8f98e/lib/reactable/filterer.js#L37
[code]

[2015-11-09 15:14] runemel commented on #203
+1

[2015-11-09 15:53] glittershark commented on #203
Just pushed 0.12.0

[2015-11-09 15:53] #203 closed

[2015-11-09 15:53] glittershark commented on #201
The `<Td>`s accept a `value` prop which is the value used for filtering and sorting

[2015-11-09 15:53] #201 closed

[2015-11-09 15:55] glittershark commented on #204
Just pushed version 0.12 including an update to react 0.14, fixing this

[2015-11-09 15:55] #204 closed

[2015-11-16 14:20] MikaelLarsson opened #206 "Cannot resolve module 'react-dom'"
After upgrading to 0.12.0 I get this from grunt:

ERROR in ./~/reactable/lib/reactable/filterer.js
Module not found: Error: Cannot resolve module 'react-dom' in f:\path\node_modules\reactable\lib\reactable
 @ ./~/reactable/lib/reactable/filterer.js 23:16-36

What is this react-dom? Can't find it in the dependencies. Using React 0.13.3.

Any ideas?

[2015-11-16 14:26] jasonblanchard commented on #206
`react-dom` was introduced in React `0.14`, so I *think* that means you have to upgrade to React `0.14` to be compatible with that version of Reactable.

[2015-11-16 14:30] MikaelLarsson commented on #206
I will try. It states in the package.json that reactable is compatible with 0.13.3. Will investigate.

[2015-11-16 15:24] Gouthamve opened #207 "Render a ReactComponent"
I don't know if this is a good practice, but I would like to render a react component in a column. While I am using unsafe, it doesn't seem to work.

Is there any way I can get this to work?

[2015-11-16 15:28] glittershark commented on #207
[code]

[2015-11-16 15:29] glittershark commented on #207
see [these docs](https://github.com/glittershark/reactable#even-more-customization)

[2015-11-16 15:29] #207 closed

[2015-11-16 15:58] glittershark commented on #206
Yeah, as of version 0.12.x Reactable only supports 0.14 or higher. I'll add a note about that to the README

[2015-11-16 16:00] #206 closed

[2015-11-16 16:48] Gouthamve commented on #207
Thanks! It works!

[2015-11-18 14:23] jasonblanchard opened #210 "Version bump?"
Can we get a version bump? Waiting on some sweet, sweet, `noDataText` ;)

If you're on a particular release schedule, that's totally cool, just trying to plan ahead.

Thanks!

[2015-11-20 15:19] danlopez191 commented on #210
:+1:

[2015-11-24 17:48] rchanou commented on #177
Upgraded to version 0.12.0 for `reactable`, and 0.14.3 for `react`/`react-dom` and haven't noticed any errors, so closing this. Thanks.

[2015-11-24 17:48] #177 closed

[2015-11-29 04:38] tsuna opened #215 "Filter is lost when the table is re-rendered"
I have a `Reactable.Table` that is updated dynamically by updates coming down via a WebSocket socket.  When a filter is active on the table, the filter is lost when the table is re-rendered as a result of a state update.  Things like column sorting are preserved across updates though.

[2015-11-29 05:30] tsuna opened #216 "Preserve sorting order when changing column"
Right now because of this code in `onSort(column)`:
[code]
The current sorting order isn't preserved.  Any objections to removing this line so that the order is preserved when the chosen column is changed?

[2015-11-30 16:04] glittershark commented on #216
This is a weird one, because for me this is actually *expected* behavior. I lean away, however, from making this a prop passed to the table, because of the inherent explosion of configuration. I'm going to need to sit on this for a bit (and also see if anyone else weighs in on this issue)

[2015-12-01 18:18] calvintam opened #218 "Support for <colgroup> as nested child"
Would supporting the `<colgroup>` element as a child of `<Table>` be on the roadmap for 1.0? (MDN doc: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/colgroup)

The use case is for the ability to highlight a table column on hover with a CSS-only solution (as outlined in https://css-tricks.com/row-and-column-highlighting) but I would imagine that it would be helpful to semantically descr

[2015-12-01 18:26] glittershark commented on #218
Yep, definitely want to support this.

[2015-12-01 18:28] calvintam commented on #218
Appreciated, will stay in tune for updates

[2015-12-02 21:26] hampusohlsson opened #220 "Does not work with seamless-immutable / redux-crud"
Passing in a [seamless-immutable](https://github.com/rtfeldman/seamless-immutable) data array (in my case from [redux-form](https://github.com/erikras/redux-form)) generates a `Maximum call stack size exceeded` error.

Right now my fix is to make the data mutable using `.asMutable()`

[2015-12-02 21:42] glittershark commented on #220
Good that there's a temporary workaround at least, but from what I can read about that library it seems like it's probably a bug with it

[2015-12-02 21:47] hampusohlsson commented on #220
Yeah, that might be the case.. And actually I was wrong, the library using it is (redux-crud)[https://github.com/Versent/redux-crud] which is much less popular than redux-form, so it might not be that big of an issue.

[2015-12-02 21:54] hampusohlsson commented on #220
Seems like this issue is [being addressed already](https://github.com/rtfeldman/seamless-immutable/issues/73) in seamless-immutable

[2015-12-02 22:38] glittershark commented on #220
Sweet! Gonna close this then, feel free to reopen if it does in fact turn out that Reactable is doing something wrong

[2015-12-02 22:38] #220 closed

[2015-12-03 20:34] raptoria opened #221 "How to specify all columns as sortable using pre-built function Reactable.Sort.Currency?"
It seems like the API allows for individual columns to be marked as sortable using the pre-built function,
ex:
           sortable={[
                      {
                          column: 'ColName',
                          sortFunction: Reactable.Sort.Currency
                      }

but is there a a way to specify all columns, assuming I don't know what the name of the column will be ahead

[2015-12-03 22:02] raptoria commented on #221
nevermind.. i figured it out. I love the way this table exposes stuff . Very developer friendly.

I set the sortable parameter using this function:

  getSortParams(column){

    let arr = [];

    for (let i = 0; i < column.length; i++){
          let obj = {};
          obj['sortFunction'] = Reactable.Sort.Currency;
          obj['column'] = column[i];
          arr.push(obj);
    }
      return

[2015-12-03 22:04] #221 closed

[2015-12-07 20:33] mlucool commented on #125
:+1:

[2015-12-09 11:25] Aknilam commented on #145
+1
http://plnkr.co/edit/vvlR6a?p=preview

[2015-12-09 20:38] mephux commented on #189
@glittershark this still seems to be an issue.Maybe this was solved in another way? @reggi how did you eventually workaround this?

[2015-12-09 20:43] int13h opened #223 "Classname removed from every <Th> but the last"
When I explicitly pass a classname to a th tag it is stripped from every column but the last one. Is there a way around this?

ex:
<Th className="this-will-disappear">
...

Thanks.

[2015-12-09 21:32] mephux commented on #223
the problem is right here: https://github.com/glittershark/reactable/blob/master/src/reactable/thead.jsx#L10-L19

for some reason when the child has an object for the children it will properly pass the props.. but if the children is a string it ignores them. Why not build the column object each time like:

[code]

seems to fix the problem.. but then again I didn't read much into the logic of the c

[2015-12-09 22:41] raptoria opened #224 "Drag & droppable columns?"
Is this a feature that you might be considering adding?

Thanks!!

[2015-12-09 22:52] glittershark commented on #224
Almost definitely not, given the "simple" tagline. I would, however, be open to exposing whatever API would be necessary for another library to implement that functionality.

[2015-12-09 22:52] #224 closed

[2015-12-10 14:41] raptoria commented on #224
If you could expose the existing API that would be awesome!

thanks!!

[2015-12-10 14:57] glittershark commented on #224
I'm not sure what you mean

On Thu, Dec 10, 2015, 9:41 AM raptoria <notifications@github.com> wrote:

[2015-12-10 15:06] raptoria commented on #224
oh.. I was just going off of your last statement - I would, however, be open to exposing whatever API would be necessary for another library to implement that functionality.

I will try to implement it myself, if possible.

[2015-12-11 02:16] reggi commented on #189
@mephux I ended up rolling my own table :/

[2015-12-13 17:16] #5 closed

[2015-12-15 11:57] jpserra commented on #183
Hello @glittershark . First of all, amazing work with reactable, after testing quite a few other react DataTable solutions, yours was the best.

Just wondering if this issue is being address and/or expected to be available soon?

[2015-12-15 16:08] JonathanBruce opened #226 "Using elements inside custom table body with columns.map returns [object, Object]"
So I'm using a custom body because I have to add some pseudo columns and additional content to table cells and I'm making the main content of the table via a columns.map return seen here.

[code]

This returns
<img width="194" alt="screen shot 2015-12-15 at 11 07 56 am" src="https://cloud.githubusercontent.com/assets/1743411/11815950/2883bc64-a31c-11e5-97e6-9966902ab324.png">
In the row, any idea

[2015-12-15 16:16] glittershark commented on #226
Definitely sounds like a bug. Failing test case would be hugely appreciated, but not at all necessary.

[2015-12-15 16:18] JonathanBruce commented on #226
I can try to hook it up and check it out shortly, currently attempting to figure out a work around.

[2015-12-21 18:40] jasonblanchard commented on #210
Looks like master is on `0.12.1` but the npm release is still only at `0.12.0` https://www.npmjs.com/package/reactable

Can we can a version bump on npm?

Thanks!

[2015-12-21 18:42] glittershark commented on #210
that's weird, Travis is supposed to be pushing to npm for me. Credentials might be out of date.

[2015-12-28 14:52] jasonblanchard commented on #210
Any updates on this?

[2015-12-28 15:14] glittershark commented on #210
Next build should push a version to npm

[2015-12-28 15:14] #210 closed

[2015-12-30 00:45] nickdeis opened #229 "Paginator: More i18n friendly buttons than "Next" and "Previous""
I think the hardcoding of "Next" and "Previous" in the Paginator is kinda bad practice.
I've added a prop for each of them, and made the default "<<" and ">>" respectively.
Just a suggestion, as making the change was easy enough.

[2016-01-07 18:51] int13h commented on #170
+1

[2016-01-07 20:55] banderson5144 commented on #145
Any update on this?

[2016-01-08 21:50] JonathanBruce opened #231 "Feature Conversation - Canceling Outer Sort Event"
Working on a nested sorting component of sorts.

IE a sort with its own ascending and descening within the ascending descending column sort
<img width="439" alt="screen shot 2016-01-08 at 4 46 38 pm" src="https://cloud.githubusercontent.com/assets/1743411/12210392/9591f226-b627-11e5-801f-c85368f7e58f.png">

I was able to accomplish the sorting using the sortFunction easily.

Though the click event

[2016-01-08 21:56] glittershark commented on #231
would returning false from onsort work for you?

[2016-01-08 21:57] JonathanBruce commented on #231
I'm not sure what that would do?

[2016-01-08 22:03] glittershark commented on #231
cancel the sort, I guess. Maybe I'm not understanding your problem.

[2016-01-08 22:09] JonathanBruce commented on #231
I'll reword it

there's a component

[code]

If the checkmark is enabled the sort function goes from `alphabetic` sort to `sort by (if selected or not flag) then by alphabetic`

Now both the alphabetic sort and the selected sort have their own direction, IE We might want to sort ascending alphabetically (the outer arrow) and descending by the inner criteria.

So we can change the outer sort by cli

[2016-01-11 16:57] JonathanBruce commented on #231
any thoughts?

[2016-01-11 16:58] glittershark commented on #231
that's weird; sorting should be based on a click event. Definitely sounds like a bug to me. I'll accept a patch to make the events fire in the right order.

[2016-01-12 03:12] seiyria opened #232 "sort by and display different values"
Suppose I have a column that gets formatted a special way, I represent the value like this:

[code]

I want to display the string, but I want to sort by the value. It seems I can sort by the value, but I'm unsure how to display the string. When put in the column, it just comes up as [Object object], and I can't seem to find any documentation that lets me write a formatter for the table data in add

[2016-01-12 14:11] seiyria opened #233 "provide some varying styles"
I've seen in other threads that you provide zero styling so others can choose how to style the table. That's great, but I think it'd also be great if you provided a few stylesheets to style the table in different, common ways, like material design and bootstrap. This would make the workload much easier on people trying to implement the table and have a nice-looking result.

[2016-01-12 15:03] glittershark commented on #232
per the documentation, you can specify a `value` attribute to your `Td` and render the contents just like any other react element

[2016-01-12 15:03] #232 closed

[2016-01-12 15:04] glittershark commented on #233
If you want to contribute one feel free to create a wiki page and submit a PR to link to it in the README :smile:

[2016-01-12 15:11] seiyria commented on #232
What I'm suggesting is that I have a label and key already. I have two keys - one that is the display value and one that is the sort value. The documentation does not appear to address this case.

Suppose my object looks like this:

[code]

I want to display two columns: "Name" and "Cost"

When I display cost, I want to display `cost.string`. When I sort by cost, I want to sort by `cost.value`. Th

[2016-01-12 15:12] seiyria commented on #233
So why not leave this open until the issue is actually addressed?

[2016-01-12 15:57] glittershark commented on #232
`<Td value={cost.value}>{cost.string}</Td>`

[2016-01-12 16:00] seiyria commented on #232
Ah, so you can do it with the expanded syntax. Is there any chance this can be expanded to just have a `display` function you can pass in for the columns? It seems wasteful to have to expand the table just to do this.

Right now, I have this:

[code]

where `tableColumns` looks like this:

[code]

I'd like to add the `display` function to my `tableColumns` object because I can do pretty much every

[2016-01-12 16:04] glittershark commented on #232
This has been asked before, and no, I'd like to avoid adding any more options to the top-level Table object, especially for things that are already possible with nested components. The latter approach (`<Td>`s inside `<Tr>`s inside a `<Table>`) should be considered the *default*, with the options available for the top-level table object being a shortcut when you're not doing anything particularly

[2016-01-12 16:08] seiyria commented on #232
I can't say I consider this to be complex, but as long as it's possible, I suppose that's fine. I actually ended up just writing a function that reverses my `cost` format into a number so this isn't really super relevant to me anymore.

[2016-01-13 00:44] dcurletti opened #234 "Add ability to set the current page via a prop passed to the table"
Is it possible to change what the current page of the table is when toggling to a different sort method?  Example: I'm on page 5 and I would like to sort by name alphabetically.  When I click the column header to sort, I would like the table to go to page 1 so that the first row is showing a name that starts with the letter 'a' (assuming there is an individual with the name that starts with the le

[2016-01-13 18:44] castrolem commented on #234
+1

[2016-01-13 18:46] glittershark commented on #234
there's an `onSort` event prop, so all this really needs is a way to change the current page via a prop passed to the table

[2016-01-13 20:03] JonathanBruce commented on #231
I closed it because after further examination it was my own fault, the event was being propagated from the parent event handler of the button that I thought was firing the event. So it does work as intended, such that, if you handle the event and stop propagation on the child container inside a `Th` element it won't bubble up to trigger OnSort.

[2016-01-13 20:07] glittershark commented on #231
oh, nice.

[2016-01-13 20:07] #231 closed

[2016-01-16 04:00] alfredoreduarte opened #236 "include() via browserify-rails"
This might come as a noob question.

Using [browserify-rails](https://github.com/browserify-rails/browserify-rails) in my Rails (duh) app. Given that "Reactable also exposes a set of CommonJS modules for piece-by-piece use with Node, Webpack, Browserify, etc. These modules are located in the lib folder at the root of this repositiory.", I've been trying to require Reactable in these ways (not at t

[2016-01-18 13:09] SachaG commented on #139
I'm also curious about this. I saw the `onSort` and `onFilter` functions, but no `onPaginate`?

[2016-01-18 13:15] straku opened #237 "Empty cells when custom table created with <Thead> and <Th> components"
When I use custom table by passing `columns` property to `Table` component everything seems to be working as expected. Here's array passed to `columns` property:
[code]
And `Table` rendering:
[code]
But when I try to change it and use `Thead` and `Th` components to specify custom header for the table the only thing that table is rendering is header and empty cells (right number of rows and cells b

[2016-01-20 22:40] yocmen opened #239 "please help with osrt function"
i have this function:

sortFunction: function(a, b){
				    	if(a > 0)
        					a = parseInt(a);

        				if(b > 0)
        					b = parseInt(b);

				    	return a >= b ? 1 : -1;
}

how can i made the function generic to use it in several columns???

like sortFunction: this.mySortFunc()

if i add a, b there are not defined and without the params dont work, how can i make it to work? plea

[2016-01-20 22:41] glittershark commented on #239
This seems like more of a question for something like StackOverflow

[2016-01-20 22:41] #239 closed

[2016-01-21 15:43] yocmen opened #240 "render html inside Td"
i have this:
var Table = Reactable.Table,
			Tr    = Reactable.Tr,
			Td    = Reactable.Td;
var rows = <Tr><Td column='' colSpan={7} className="text-center" style={{background:"#1C1B1B", color:"#F0CF2A"}}><img src="assets/images/loading2.svg" alt="loading..." /><br/>Loading... please wait...</Td></Tr>;

return (
<Table className="table table-bordered" role="grid" sortable={['Partner', 'Errors', 'D

[2016-01-27 00:02] jflay commented on #237
I am also getting this issue... tried using hard-coded data and result is the same.

[2016-02-06 03:50] cklab commented on #237
The PR should address this issue but as a workaround, if you specify an element (any will do) for your children instead of just a string, it should render:
[code]

[2016-02-06 18:29] glittershark commented on #237
Closed in #242

[2016-02-06 18:29] #237 closed

[2016-02-14 18:38] tuckwat commented on #240
Try wrapping your Reactable.Td contents in a div.

[2016-02-14 18:39] tuckwat opened #243 "TD style prop is not passed down to children"
The "style" prop from a Reactable.Td doesn't pass down to children.  It seems to work fine with Reactable.Tr.

[2016-02-15 17:59] glittershark commented on #240
it looks like we're not properly handling *multiple* HTML element children within the Td

[2016-02-19 15:13] brawlins opened #244 "Access length of filteredChildren array"
First of all, great work on this! Thanks for providing such a great component!

When the list is filtered I'd like to display the count of how many records matched the current filter (e.g. 5 of 200). Looks like you store the filtered array at one point in the render function:

`filteredChildren = this.applyFilter(this.state.filter, filteredChildren);`

Would it be possible to expose that array, or

[2016-02-19 15:56] glittershark commented on #244
Seems reasonable to me. I'd probably just pass this as a parameter to `onFilter`, and let you update your component's state from that

[2016-02-19 16:03] brawlins commented on #244
Sounds great! Thanks for the quick response.

[2016-02-23 16:13] franleplant commented on #236
Hi @alfredoreduarte
 tldr

 `var Reactable = require('reactable')` will do the job, assuming that you installed the lib with npm. i.e. `npm install reactable`

In any case, this is not a `Reactable` bug and thus this issue should be closed.

Long answer:

browserify-rails uses browserify, and browserify in turn uses Node's module system.
For future reference, when trying to require modules install

[2016-02-24 14:54] RusAlex opened #246 "Sort.Numeric considers values strings"
And if data is numbers, sorting do not work well.

[2016-02-24 14:54] RusAlex commented on #246
In a specific case. When value is 0.

[2016-02-24 17:48] thechrisproject commented on #28
This would be a fantastic feature to add and would save me a lot of hacky work.

[2016-02-24 18:29] thechrisproject commented on #28
Looking at the latest docs, I see there are onFilter, onSort, and onPageChange props. Perhaps this issue should be closed? @glittershark ?

[2016-02-24 19:50] glittershark commented on #28
yeah, actually, good call. Thanks @thechrisproject

[2016-02-24 19:50] #28 closed

[2016-02-24 19:51] glittershark commented on #246
I'll accept a patch for a `Sort.Number` that handles actual JS numbers types

[2016-02-25 14:56] RusAlex commented on #246
Closing. Found NumericInteger there.

[2016-02-25 14:56] #246 closed

[2016-03-02 18:18] cklab commented on #125
@glittershark As a related side question/discussion: any particular reason for calling the click handler `handleClick` instead of sticking with the expected `onClick`?

[2016-03-03 04:26] blandflakes opened #249 "Which addons are required?"
The docs say that this depends on react 12.0, with addons. I don't want to blindly install all addons - which addons does this library depend on from the list [here?](http://facebook.github.io/react/docs/addons.html)

[2016-03-08 00:25] felizuno commented on #125
@anyong @idevchew do either of you have pull requests to add this functionality, or does somebody else need to take it up?

[2016-03-08 04:34] nrankin commented on #249
I really like to know this too...my team aren't keen to add them all in.

[2016-03-08 16:33] glittershark commented on #249
Looks like the docs on that point are actually out of date - looking at that list I don't see anything that we're using. If memory serves me, the addon that we required was the children helper, but I guess that's built into react-core now.

[2016-03-08 16:35] #249 closed

[2016-03-08 16:36] glittershark commented on #125
@cklab it's mostly historical at this point. I would actually prefer to move all event handlers to `on...` and deprecate the `handle...` ones

[2016-03-08 22:22] singpolyma commented on #145
Can confirm this also.  It seems like maybe not a problem for real data, but is disconcerting that the example from the readme acts in a broken way

[2016-03-09 03:38] Axighi opened #251 "Why no npm package?"

[2016-03-09 17:04] CheeseWarlock opened #252 "Adding data= to a Td overrides the content"
I want to be able to sort on a more complex Td, but when I set `data=` then it renders that as the contents, overriding my markup...

How is this supposed to be done?

[2016-03-09 17:06] CheeseWarlock commented on #252
Ah!  This seems to be just a bug in the example in the README file, using `value=` works

[2016-03-09 18:09] glittershark commented on #251
https://www.npmjs.com/package/reactable

[2016-03-09 18:09] #251 closed

[2016-03-10 03:31] #243 closed

[2016-03-17 16:59] iamdionysus opened #255 "Td does not accept any react supported props"
For example, in `<Td onContextMenu={this.handleContextMenu} />`, `onContextMenu` is not passed to `tdProps` to be rendered as `<td>` in the end. Can you take a look `src/reactable/td.jsx`?

[2016-03-18 20:37] igorsantos07 opened #256 "Unable to use other Tr-inherited components"
I'm developing a table that would contain different content in some columns, depending on some features on the data line. I've created it already using pure HTML tables, and my approach is to have different classes for different item types, such as:

[code]

This is an over simplification, just to understand the code structure, but there are several other rules to justify the use of different "TR

[2016-03-18 21:48] glittershark commented on #256
It's... not trivial. See #196. (I'm gonna close this in favor of discussing over there)

[2016-03-18 21:48] #256 closed

[2016-03-18 22:27] igorsantos07 commented on #256
@glittershark indeed, this is actually a dup.
Sad it's hard, it does seem to be not trivial as you said.

I worked it around by using data wrappers, if this helps anyone else that's facing the same issue, point them here:

[code]

[2016-03-21 11:02] foodgy opened #258 ".map() inside Td"
Map inside Td always returns `[object Object]`.
Console log shows correct data.

[code]

This works fine

[code]

Why so?

[2016-03-23 10:16] shinnyx opened #259 "Add css class to filter input"
I was expecting something like `filterClassName` but it is not implemented. In the end I injected a class:

which is ugly and not reliable.

May i know if there's any better ways to achieve this? I'm new to react so do let me know if there's a better alternative. Otherwise are you good with a PR on implementing a `filterClassName`?

[2016-03-23 14:12] glittershark commented on #259
I'd accept a patch for `filterClassName`.

[2016-03-31 16:56] amelon commented on #142
Do you plan to implement this improvement?
I'd like to use my own custom filter function to handle diacritic insensitive searches or more complex query.

[2016-03-31 19:18] glittershark commented on #142
I'll accept patches for this.

[2016-03-31 19:18] glittershark commented on #142
/cc @EpicH0liday

[2016-03-31 19:51] EpicH0liday commented on #142
Ooohh this is great I'll get on this.

[2016-03-31 21:10] amelon opened #266 "double rows with thead and tr declaration"
I've declared my table as follow:

[code]

And I get following result:
![image](https://cloud.githubusercontent.com/assets/786440/14190893/5511a958-f795-11e5-8779-0b359990a1e1.png)

My declaration is wrong or is it a bug?

[2016-03-31 21:36] glittershark commented on #266
You're passing in `xlist` to `data` but also as actual rows. Do one or the other, not both.

[2016-03-31 21:36] #266 closed

[2016-03-31 21:42] amelon commented on #266
oh thanks.
It drove me crazy :)

[2016-03-31 23:34] igorsantos07 commented on #256
Just a heads up, @glittershark: this issue have just arrived from the dead in my production build, thanks to UglifyJS.
To workaround it, Reactable's classes must be included in the mingle exception rules.

[2016-04-01 00:13] igorsantos07 commented on #256
Actually, even in development it's complaining. Digging in, I see the issue is with a Thead element... It's not present in the switch anymore (table.js around line 103)

[2016-04-01 01:05] glittershark commented on #256
Last issue is fixed by #264, I just need to push out a version with that fix

[2016-04-09 08:15] rafaelsales opened #268 "Lazy loading pagination"
Hi,

Is it possible to load elements from the server only after clicking on next page or previous page?

Can you show me an example?

I didn't see nothing about this kind of lazy loading.

Having a onPaginate event would help

Thanks

[2016-04-09 08:18] #268 closed

[2016-04-12 09:04] lgraubner commented on #258
Use `unsafe()` to render your generated HTML.

[2016-04-15 12:56] toomastahves opened #269 "Update npm package"
Hey,
seems like npm package has not been updated for some time.
Github has newer version, where [Thead warning is fixed](https://github.com/glittershark/reactable/commit/ce54ada565b78685c4f53c0d6964cec5da839e17), it would be great to have fixed version on npm.
Thanks!

[2016-04-15 17:48] fullc0ntr0l opened #270 "The only possible children of <Table>, are <Thead>, <Tr>, or one <Tfoot>."
`The only possible children of <Table>, are <Thead>, <Tr>, or one <Tfoot>.`
I'm getting the follow line in the console every time my component is rendered.
my table is like this:
[code]

how can I get rid of these console warnings?

[2016-04-21 14:13] glittershark commented on #269
0.13.0 is up

[2016-04-21 14:13] #269 closed

[2016-04-21 14:13] glittershark commented on #270
Fixed as of 0.13.0

[2016-04-21 14:13] #270 closed

[2016-04-26 12:24] damienleroux commented on #234
+1. When reloading data for the table. It keeps the current visited page as default. I need it to come back to 0

[2016-04-29 15:39] kaushik143 opened #273 "Header row is also moving with scroll"
Implementing table using reactable but the I am not able to control the header position while scrolling the content of table. Is there any way by which I can  implement this using reactable.

[2016-04-29 16:04] glittershark commented on #273
throw a `position: fixed;` on it, probably.
also, I would recommend asking this on StackOverflow

[2016-04-29 16:04] #273 closed

[2016-05-04 19:42] dkjess commented on #218
Would very much like to have this feature. I can't find another way to style the td in a column when sorting. Alternatively a class could be added to the td in a column when sorting, like on the th.

[2016-05-04 19:43] glittershark commented on #218
I'm happy to accept a patch.

[2016-05-04 20:06] dkjess opened #274 "Change itemsPerPage dynamically"
Would like a way to change itemsPerPage after the table is loaded. Would then be able to build user controls for changing the number of itemsPerPage.

Another option would be to have this feature built in and having the option of setting intervals like 5,10,25,100,500 itemsPerPage.

[2016-05-06 14:58] zackharley commented on #145
I'm also having this issue.

[2016-05-06 15:41] zackharley commented on #215
I am also having this issue.

[2016-05-10 23:32] jflayhart opened #275 "Unable to Use Custom Headers"
I think I saw this as a closed issue, but this is still not working for me... See my gist: https://gist.github.com/jflayhart/5d049a5da4d9cc26e67eecdf5c05a6ec#file-reactable-L15

You will see I am needing to use the actual column label as the column prop, so that I can get it formatted the way I need to, but then that means I can't create custom header, which I need... If I do it the way your docs

[2016-05-11 18:32] TMUND opened #276 "Console warning for <Thead> child"
I'm getting the console warning `The only possible children of <Table>, are <Thead>, <Tr>, or one <Tfoot>.`

My code has this structure:
[code]

I can't get the warning to go away unless I delete my whole <Thead> section. Any suggestions how to fix this?

I see one of your examples using this same format so I am surprised it's throwing a warning.

Thanks!

[2016-05-11 19:27] glittershark commented on #276
Update to the latest version

[2016-05-11 19:27] #276 closed

[2016-05-11 19:47] TMUND commented on #276
That was it, thank you

[2016-05-13 15:25] zackharley commented on #4
@leesalminen @glittershark @epeli @nt3rp @grechut The workaround solution I'm using for a Bootstrap paginator with Reactable is as follow:

1. Add the custom class `.custom-pagination` to the `td` containing the anchors for pagination after the Reactable has mounted:

Ex:
[code]

2. Include the following CSS into the stylesheet for your current page:
[code]
This will change the style of your pagin

[2016-05-17 07:56] PPHAC opened #277 "I use unsafe to insert Button into every row,But it is used as a html,I want to click it then onClick can solve the event.So what can i do?Thanks"

[2016-05-17 09:06] burakduganci commented on #191
+1

[2016-05-19 22:06] glittershark commented on #277
Render the `<Tr>`s and `<Td>`s as react components per [this documentation](https://github.com/glittershark/reactable#even-more-customization)

[2016-05-19 22:06] #277 closed

[2016-05-19 22:07] glittershark commented on #275
What do you mean by "name for each column" in "using the column keys as the name for each column"?

[2016-05-19 22:08] glittershark commented on #274
Does it not work for passing in as a prop and then changing the props?

[2016-05-19 22:09] #259 closed

[2016-05-20 14:52] #234 closed

[2016-05-20 18:11] glittershark opened #278 "Non-sortable table headers shouldn't get role=button"

[2016-05-20 18:26] #278 closed

[2016-05-24 16:26] slestang opened #280 "Re-render is broken when pagination is on but no currentPage is specified"
The PR #272 seems to have broken the refresh of a Table without a *currentPage* set.
On re-render, I get the error:
[code]
If I set *currentPage={0}* on *Table* the error disappear.
It was working with version 0.13.0

What I understood:
When *componentWillReceiveProps* is called, *currentPage* is null, so *updateCurrentPage* is called with null:
[code]
So *currentPage* is setted with null in the s

[2016-05-24 16:54] sophy-cat opened #281 "Add option to clear currentSort"
I'm using reactable with a form to add new items. When a new item is added I would like to clear the currentSort so that the data is displayed like it comes from the server.

I was trying to use sortBy={{column: null}} but this does not seem to work.

[2016-05-24 19:17] glittershark commented on #280
Thanks for digging into this.

[2016-05-25 13:41] Skowron86 commented on #84
@glittershark What about that feature? I have the same issue like @gregeinfrank over one year ago.

[2016-05-25 21:47] jflayhart commented on #275
I mean the columns become named automatically by the column key and overwrite any custom headers I try to set... For example, your docs say https://github.com/glittershark/reactable#customizing-columns, but when I follow that approach, it just uses "name" as the column name, instead of First Name, Last Name.

[2016-05-25 21:53] felizuno opened #282 "Library is modifying source data"
I have been happily using this library for a few months, but today when I tried to use an array of key/label pairs to define my columns I experienced a very inconvenient side effect :-(.

My columns are defined as such:
[code]
... and my `Table` looks like this:
[code]
And the results of the console logging:
[code]

On the initial render the dates are shown as expected, but after the initial rende

[2016-05-26 00:21] felizuno commented on #282
Is it possible the problem is [this line](https://github.com/glittershark/reactable/blob/master/src/reactable/td.jsx#L32) making a reference which is written to [here](https://github.com/glittershark/reactable/blob/master/src/reactable/td.jsx#L36)? I'm new to React/Redux, so not sure what the results of this operation are. Also not sure my `Td` content is testing positive [here](https://github.com

[2016-05-26 14:05] glittershark commented on #275
Can you send a code example of something that's breaking? Even better, a breaking test case?

[2016-05-27 17:20] jflayhart commented on #275
I mean, I sent you a code example in my gist :) What's going on there though is I bring in column object as a prop composed as `column = {key: "fname", label: "First Name"}`, so what used to work was when I used `column.key` it would use "First Name" with my `get tableHeader ()` function (line 27 of my gitst). But now if I use column.key in line 15, it will use "fname" as the column name... I have

[2016-05-31 17:17] jflayhart commented on #275
Ahh! I forgot to return the code block in my getHeader() function... sorry. I honestly couldn't figure out what was wrong. Closing >.<

[2016-05-31 17:17] #275 closed

[2016-06-08 19:25] cklab opened #284 "Table without a Thead"
I'd like to be able to create a `Table` that doesn't have a heading and I haven't been able to figure out a way to do it in version 0.13.2. Does this feature exist somehow and I've missed it?

If this feature is within scope and does not exist, I'd like to make a pull request with the following change:

- add prop `hideTableHeader` to `Table`, similar to `hideFilterInput`.

Thoughts?

[2016-06-08 19:53] glittershark commented on #284
yeah, that'd be fine for me, though I'm curious about your specific use case

[2016-06-08 21:16] cklab commented on #284
In my case, it's mainly to format a name/value pair with table-like behavior; like a transposed table where the rows serve as the labels and the columns have the potential to grow.

Besides that, the [HTML standard](https://html.spec.whatwg.org/multipage/tables.html#tables) says a thead is optional so, I figure, why the hell not :)

[2016-06-12 22:30] brandonros commented on #215
Really not an ideal solution, but adding

[code]

to `src/reactable/table.jsx` right before the return in `render` fixes it, sort of.

[2016-06-13 17:30] #284 closed

[2016-06-14 05:40] brittanystoroz commented on #183
This would be stellar

[2016-06-15 17:45] #255 closed

[2016-06-17 04:23] ktstowell opened #288 "Rendering custom children with iteration."
Maybe I'm completely missing something but I'm not seeing how I would provide custom markup for my `<Td>`'s when I don't know what the values are of each row/column intersection.

Something like will work but will render in addition to the ones Reactable automatically generates.

[code]

With the following, how do I know what my data will be?

[code]

And for what it's worth, if I even provide my

[2016-06-17 04:30] ktstowell commented on #288
Hit enter on accident, trying a few more things.

[2016-06-17 06:41] ktstowell commented on #288
So I mean if I do this it works, but it renders (rows * 2):

[code]

![reactable](https://cloud.githubusercontent.com/assets/1407046/16142623/b55de386-341b-11e6-9708-da7b780b3d92.PNG)

[2016-06-17 14:25] glittershark commented on #288
If you're rendering custom Trs, just don't pass `data` to the table.

[2016-06-17 19:30] ktstowell commented on #288
Thank you!

[2016-06-17 19:30] #288 closed

[2016-06-26 10:01] ktstowell opened #289 "Td state not updating."
HI!

I am running into an issue that may just be a knowledge gap and hopefully just a problem with my implementation.

I have the following table:

[code]

Here are my rows (passed in as child props):

[code]

On initial page load, everything renders perfectly. Updating the state via the `onChange` methods, correctly updates the data but does not update the state of `service.price`. The console lo

[2016-06-26 17:20] ktstowell commented on #289
Also, the `render` function for `<Td>` is being called on every state update as well. It's just that `this.props.children` never updates so `service.price` never changes from the original value. Because every renderer is being called for this branch of my state tree I'm assuming at this point I'm just doing something wrong.

Any help appreciated.

[2016-06-26 17:57] ktstowell commented on #289
Yep, I was doing something wrong. I was caching `this.props.children` under `this.state.rows`. Oops.

[2016-06-26 17:57] #289 closed

[2016-06-27 13:42] Pola93 commented on #4
Is it possible to at least wrap anchor tags in div or something with display: block? What I would like to achieve is to float pagination anchor tags right but they are displayed in reverse order.

[2016-06-27 15:19] glittershark commented on #289
glad you figured it out!

[2016-06-29 16:40] grantpalin opened #290 "Support the caption element"
Table can have a caption element. It is optional, but if present it must be the first child element of the table. This has uses for making clear what the table is about.

[2016-07-02 17:43] dcurletti opened #291 "React v15 complains about props being passed to native <table> element"
As soon as I upgraded to React v15 I started getting this error:
<img width="1466" alt="clients___realscout" src="https://cloud.githubusercontent.com/assets/7329041/16541772/b465ffa4-4041-11e6-9095-130ffcbcad51.png">

Which I can only assume is because of this line:
https://github.com/glittershark/reactable/blob/6da047162b8bfe37dde79ebe91190d974ccb79c5/src/reactable/table.jsx#L503

[2016-07-04 03:03] vdh commented on #291
This was a new warning added in v15.2 if I'm not mistaken.

[2016-07-04 16:07] nic commented on #291
This is new at v15.2:
3 days ago: https://gist.github.com/jimfb/d99e0678e9da715ccf6454961ef04d1b

[2016-07-04 17:16] dcurletti commented on #291
Yea, I should have been more explicit in my initial post: I think it is a bit risky to pass the `rest` of the props to the native table element, especially only being filtered by a small blacklist.  I think a whitelist would be more appropriate, taken from here: http://www.w3schools.com/tags/tag_table.asp .  The table doesn't even have that many unique attributes.

[2016-07-05 22:46] vdh commented on #291
@dcurletti The blacklist in `filterPropsFrom ` is recycled between all the other tags as well, so to replace it with a whitelist you'd probably need to create different whitelists per tag.

I took a shot at expanding the blacklist with as many props as I could find in #293

[2016-07-07 18:33] yocmen opened #294 "Fixing current page when re-render"
Hi, i dont know how explain  this, but i will try, in your table paginated if u are in page 5, and then u click inside a row the currentPage param is reseted to 0, returning the user to the first page, to avoid this i edit the file table.js and add this to componentWillReceiveProps function:

`if(this.state.currentPage` === 0)
    this.updateCurrentPage(nextProps.currentPage);`

this work for me,

[2016-07-11 09:22] GuillaumeCisco commented on #84
Yep, What about this feature?
It is very interesting and needed!
@glittershark

[2016-07-11 13:24] chauhanmohit opened #295 "Reactable filtering not working when apply filterable or filterBy attribute on table"
`return (
            <div className="medicationTable">
              <Table className="table table-striped table-bordered" itemsPerPage={10} pageButtonLimit={20} currentPage={0} filterable={['brand', 'generic']} >

                <Thead>
                  <Th column="brand">
                    <strong className="name-header">Brand Name</strong>
                  </Th>
                  <Th colu

[2016-07-11 13:40] thechrisproject commented on #274
I just built a user control for changing the number of itemsPerPage prop to the table and it works just fine.

[2016-07-11 13:51] glittershark commented on #294
Feel free to submit a pull request with a test covering the fix

[2016-07-11 13:54] yocmen commented on #294
ok, i will do it! , thanks

2016-07-11 9:51 GMT-04:00 Griffin Smith <notifications@github.com>:

--

  Pensemos en el medio ambiente. Imprime sólo lo necesario.

[2016-07-11 21:39] yocmen commented on #295
You need to set de value in <Td>

Example:

`<Td column="instruction" value="{unsafe(med.indications)}">{unsafe(med.indications)}</Td>`

Hope this work for you.

[2016-07-12 19:19] CaptObvious commented on #4
I ended up just hacking the JS and adding my custom class names in for now.

[2016-07-19 11:50] skix123 commented on #145
Are you planning any updates?

[2016-07-19 15:26] doljura opened #299 "warning.js:44 Warning: Unknown props"
Hi! I'm trying to use your lib first time. This is my code:
...

        `return (
           <div>
                <Table className="table market-table" id="table" data={[
                    { market: 'Lala1', sell: 1111, buy: 1111},
                    { market: 'Lala2', sell: 2222, buy: 2222},
                    { market: 'Lala3', sell: 3333, buy: 3333}
                ]}>

[2016-07-22 11:12] OlegVach opened #302 "Expanding/collapsed row in table"
Hello. I can create expanding/collapsed row in table?
For example:
http://www.bootply.com/fdTMNTiLis

[2016-07-22 12:21] mnbucher commented on #145
Any updates here? I'm also having this issue...

[2016-07-24 18:33] glittershark commented on #302
You could easily do this on top of reactable. It's not in scope for reactable to do this for you, though

[2016-07-24 18:34] #302 closed

[2016-07-24 18:36] glittershark commented on #299
See #293

[2016-07-24 18:36] #299 closed

[2016-07-25 01:59] theopolisme commented on #215
Bump - status of this issue?

[2016-07-25 20:42] mcollie1 opened #303 "Checkbox disappears after sort and user can't select checkbox after sort"
### Scenarios

+ user selects a checkbox (the checkbox has a label above of it for custom styling. ex. below...)
[code]
<img width="76" alt="screen shot 2016-07-25 at 4 37 11 pm" src="https://cloud.githubusercontent.com/assets/6210583/17116504/118d8854-5286-11e6-85e2-b12a82b0ff4f.png">

+ user sorts and returns to the specific record.  the checkbox is no longer checked and sometimes, the user can'

[2016-07-25 20:59] glittershark commented on #303
Thinking maybe this is just a problem with `stopPropagation`... can you see if you can get a minimal reproducing case for this?

[2016-07-28 11:10] agnieszkaac opened #304 "Unknown props warning"
Hey!

I am using some of the props you mentioned in the README, but my console throws warnings to my face when using them:
`Warning: Unknown props `pageButtonLimit`, `previousPageLabel`, `nextPageLabel`, `defaultSortDescending`, `filterBy`, `hideFilterInput` on <table> tag.`
and
`warning.js:44 Warning: Unknown props `filtering`, `onFilter`, `filterPlaceholder`, `currentFilter`, `sort`, `sortableCo

[2016-07-28 13:33] agnieszkaac commented on #304
Ups, sorry. Found similar issue.

Closing.

[2016-07-28 13:33] #304 closed

[2016-08-01 08:25] Boazc commented on #282
Having the same issue.

[2016-08-02 10:13] Boazc commented on #282
No one has an idea why the library is modifying the source table data object?
This is happening when using the .map function to iterate and dynamically building the content of the table.

[2016-08-03 00:21] hassankhan commented on #291
Just for everyone's attention, still getting the same errors with React v15.3, too

[2016-08-03 00:50] hassankhan opened #305 "New release?"
Could we have a new release, please? :)

[2016-08-03 03:12] vdh commented on #291
@hassankhan Are you using `master`? Because the fix hasn't been put into a release yet.

[2016-08-03 03:20] hassankhan commented on #291
Yep, I noticed that so I opened #305 😄

[2016-08-10 09:29] rakasiwi23 opened #307 "Add button each row"
Anyone know ho can I add a button for each row? I'm very new to react. thanks

[2016-08-10 15:07] glittershark commented on #307
Please ask these sorts of questions on StackOverflow.

[2016-08-10 15:07] #307 closed

[2016-08-10 17:40] rakasiwi23 commented on #307
sorry, my mistake.

[2016-08-10 18:36] aminix commented on #216
+1 for this to be configurable, I'd like to preserve the order as well.

[2016-08-10 18:38] aminix commented on #56
I asume this haven't been implemented because I don't see it in the documentation. I'd also like to have the option to reset or not.

[2016-08-10 22:13] sreevarsh commented on #295
Hi,
Is there a way I can filter the element that is kept inside <td column="sitecomponents"><div>test</div></td>. Thanks in advance.

[2016-08-12 21:26] hassankhan commented on #305
Pretty please? 😄

[2016-08-14 00:22] hassankhan opened #308 "Add case sensitive sort"
Since a case-insensitive one already exists, it would be nice to have one for completion's sake.

[2016-08-15 15:28] glittershark commented on #305
just pushed 0.14.0

[2016-08-15 15:28] #305 closed

[2016-08-15 15:41] hassankhan commented on #305
<3

[2016-08-15 18:51] dcurletti commented on #291
Gracias.

[2016-08-15 18:51] #291 closed

[2016-08-16 03:54] astraldawn opened #309 "Sorting by multiple columns"
Is it possible to have a custom sorting function work on multiple columns?

E.g.
|Col 1|Col 2|
|---|---|
|1|A|
|3|B|
|2|B|
|1|B|

If I attempt to sort Col 2, the table sorts by Col 2 and then sorts Col 1 in ascending order.

[2016-08-16 05:31] astraldawn commented on #216
+1

[2016-08-17 00:30] hassankhan opened #311 "Warning: Unknown prop `props` on <td> tag."
Seems like perhaps a few elements got missed?

[2016-08-18 13:38] Daniel-Baranowski-BJSS commented on #311
I got the same problem.
`Warning: Unknown prop `props` on <td> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop
    in td (created by Td)
    in Td (created by Tr)
    in tr (created by Tr)
    in Tr (created by Table)
    in tbody (created by Table)
    in table (created by Table)
    in Table (created by HorseRacingRunnersTable)
    in HorseRacingRunnersT

[2016-08-19 13:35] hdrdavies commented on #125
@glittershark is there a ```onTrClick``` as mentioned above?

[2016-08-22 13:25] hassankhan commented on #311
It seems this has been done in a bit of a borked way ... people have updated certain elements at a time. #306 actually seemed like it did a thorough job, but yeah, perhaps time for another PR?

[2016-08-22 13:27] hassankhan commented on #282
Have you tried using `this.props.users.map((user, index)` instead?

[2016-08-24 13:51] bth0001 opened #312 "New table created with every new piece of data"

[2016-08-24 14:06] glittershark commented on #312
it looks like you're rendering a new table for every ListItem...

Also, this is a question for StackOverflow

[2016-08-24 14:07] #312 closed

[2016-08-25 03:56] vdh commented on #311
@hassankhan #306 only "fixed" the issue because it completely removed the props spread on the `<td>` element.

The issue seems to be caused by [`thead.jsx` creating a value called `props` alongside `key` and `label` in the `column` values](https://github.com/glittershark/reactable/blob/master/src/reactable/thead.jsx#L13), which then [gets incorrectly merged into the props inside `td.jsx`](https://

[2016-08-25 04:59] vdh commented on #311
Okay, so…

[This is the (venerable) commit that created the inheritance from the `column` prop.](https://github.com/glittershark/reactable/commit/c5ccae39f0c88977f10268b6ebae1295acc76994)
But then [this commit added `column.props` to `thead.jsx` without updating the logic in `td.jsx`](https://github.com/glittershark/reactable/commit/2b97c135841866dec3a8232fd341d24dadf0b022), thus creating this iss

[2016-08-25 23:15] cklab commented on #309
+1, kinda in need of this too as of late.

@glittershark thoughts about providing the row data when calling the sortFunction? I'm using this for the time being, let me know and I can make a PR. https://github.com/cklab/reactable/commit/6b05e0a9a98a24809f852d403c0a9a22cb9834a7

[2016-08-26 05:21] maurocolella opened #315 "Pagination should be disabled if number of entries >= itemsPerPage"
This is related to #9

When the number of entries is less, or equal to the number of items per page, the pagination currently displays a link to "self". Which might be somewhat confusing.

Is it possible to disable pagination entirely in that case?

[2016-08-28 17:38] hassankhan commented on #311
Yeah it seemed like something weird had happened, thanks for investigating 👍

[2016-08-30 23:54] sreevarsh opened #318 "Filtering is not working if the value is placed inside <div>, like this <Td><div>data</div></Td>"
Hi,
If the table data is placed inside a div like this <Td><div>some data</div></Td>. the filtering is not working.

Thank you

[2016-09-02 14:44] fijolekProjects commented on #311
I've got:
[code]
Is this the same issue as above or maybe I should create another issue?

[2016-09-05 09:46] Daniel-Baranowski-BJSS commented on #311
@glittershark Are you planning on fixing this issue? Its been 20 days and we didn't get any response from you.

[2016-09-06 01:08] vdh commented on #311
@fijolekProjects I have a fix for that pending in PR #314

[2016-09-07 07:31] squll1 opened #320 "The only possible children of <Table> are <Thead>, <Tr>, or one <Tfoot>."
try to use the Tr component in the Table Component.

[code]

[code]

`'The only possible children of <Table> are <Thead>, <Tr>, or one <Tfoot>.'`
With the above message is output list is not rendered.

[2016-09-13 14:35] ryanbelt commented on #320
got the same problem

[2016-09-13 23:33] cjtafoya opened #322 "Make reactable compatible with ReactTransitionGroup / ReactCSSTransitionGroup"
I've been trying to implement a simple slide open/close animation utilizing the standard React animation library, but this has proven impossible with reactable. Even passing in the component type (ie component={Tr} or component={Table}) does not allow the component to render.

Are there any plans to enable transitions / animations with reactable?

[2016-09-21 16:14] paddotk commented on #223
@mephux
I take you mean something like this (in JSX)?
[code]
But this doesn't work. Could you give an example of how to assign classnames to ```<Th>``` tags?

[2016-09-21 21:49] RyanThomasMusser commented on #273
@kaushik143 did you ever find a workable solution to fixing the header? Would like to see what you concluded with before I dive in, thanks mate~

[2016-09-22 14:24] nlaffey commented on #102
@glittershark Do you still feel this is a valid solution? It seems like your response is trying to do what this pull request is trying to enable: https://github.com/glittershark/reactable/pull/196

[2016-09-26 18:33] stahlmanDesign commented on #318
I also have this problem. Cannot sort if inside a link tag.

[2016-09-26 23:50] vdh commented on #311
@glittershark You should probably re-open this issue. #314 didn't have a fix for this issue, only the unrelated issues mentioned by others.

I haven't attempted to fix this `props` on `td` issue because I don't know what the original logic behind the code was. I didn't want to break things further trying to bodge something I didn't understand. I've managed to trace the issue back to their original

[2016-09-26 23:52] glittershark commented on #311
I'm gonna take a closer look at this once I clear some time (potentially later this week). As I'm sure you've noticed, work has been taking up a lot of my time in the last few months :smile:

[2016-09-27 14:31] iesta opened #324 "Is it possible to apply function on data (in Td)?"
I'd like to add link to some of the data in the table and format some dates on the fly?
Is there a way to do that or do i have to pass the array of data through a map function or something similar ?
Thank you in advance

[2016-09-27 22:34] joeyfigaro opened #325 "Wrapping cell contents inside of <Link> from react-router?"
@glittershark Not entirely sure how to go about doing this. Any way to get some examples on wrapping/manipulating cell content?

[2016-09-28 02:06] glittershark commented on #325
see [these docs](https://github.com/glittershark/reactable#even-more-customization)

[2016-09-28 02:06] #325 closed

[2016-09-28 04:17] stahlmanDesign commented on #318
I solved my problem for sorting. When inside a <div> or <Link> I put a custom sorting function and accessed a.props.children to get the text. ```sortable={[
                {
                  column: this.localisation.Title[this.provider.state.lang],
                  sortFunction: function(a, b){
                    // Sort by last name
                    console.log(a)
                    //va

[2016-09-28 15:24] glittershark commented on #318
Pass a `value` prop to the `Td`

[2016-09-28 15:24] #318 closed

[2016-09-28 16:54] stahlmanDesign commented on #318
Thought I tried that before, but I confirm that it works. Simple. Thanks

[2016-09-28 23:55] kinyat commented on #311
The following code will generate the same error

`<Table
                className="hover table-full-width"
                data={[
                    { Name: 'Griffin Smith', Age: 18 },
                    { Age: 23,  Name: 'Lee Salminen' },
                    { Age: 28, Position: 'Developer' },
                ]}

                <Thead>
                    <Th column="Name"/>

[2016-09-29 00:09] kinyat commented on #311
Will it be a problem to just ignore props when merging props in td?

In reactable/lib/reactable/td.js, line 55, add a check for props
[code]

[2016-09-29 01:31] kinyat commented on #320
Same here. It would be good to accept the example above :)

[2016-09-29 14:32] glittershark commented on #320
see #196

[2016-09-29 14:32] #320 closed

[2016-09-30 07:39] hassankhan commented on #311
IIRC, the recommended way is to have a list of properties for the component, and to remove those properties from the wrapped component. Could be wrong, I think I saw it done that way in `react-bootstrap`.

[2016-10-03 10:31] florianBonavendi opened #326 "A react-intl <FormattedMessage> within a <Td> component always renders to [Object Object]"
Im am trying to use reactable to output rows with i18n content with the help of `https://github.com/yahoo/react-intl,` specifically with the `FormattedMessage` component that renders a `<span>`tag with the i18n message for a given message key.

It works flawlessly everywhere with the exception of the reactable `Td` compontent. Each FormattedMessage is rendered as `[Object Object]` in the browser's

[2016-10-07 12:44] amelon commented on #326
+1
the same for me

[2016-10-10 11:05] dngster commented on #156
I have my table rows in separate components in standard html <table> <th> <tr> <td> similar to http://javaguirre.me/2014/02/11/twitter-streaming-api-with-node-socket-io-and-reactjs/
and when I'm stuck with #159 <td> errors.
have also tried @alfredo-cp 's way of using a custom component inside <Tr> with no luck.
are there any other workaround solutions?

[2016-10-11 09:22] lgraubner commented on #311
Any fix coming soon?

[2016-10-11 10:00] hassankhan commented on #311
I believe it has been fixed, but there hasn't been a new release on npm yet.

[2016-10-11 11:53] lgraubner commented on #311
Cool, hope to see it on npm soon. 👍

[2016-10-11 13:02] JiDai opened #327 "CSS Class on Td in sorted column"
Hi,
Is there a way to add CSS class to `Td` that is in a sorted column (like `Th`) ?

[2016-10-11 23:43] vdh commented on #311
@hassankhan @lgraubner No fix yet, someone will have to tackle [the logic conflict between those two commits I highlighted earlier](https://github.com/glittershark/reactable/issues/311#issuecomment-242281315). It looks like @glittershark has a busy schedule so if anyone wants it fixed sooner it would be better to help out with a PR.

[2016-10-14 18:49] sassanh opened #330 "Possibility to remove pagination for print"
Thanks for this great module.
Is it possible to remove pagination when printing a reactable? Usually changes in ui for print version are done by media queries (`@meida print { ... }`) but I don't understand how to achieve this for disabling the pagination.

[2016-10-21 16:20] paddotk commented on #270
I have Reactable 0.14.0 but still see this error, even though my tag structure is correct (not using Thead but just Tr's in my table).
When I add Thead to the row with Th's, I get `Uncaught TypeError: column.key.replace is not a function` instead. What's going on here?

Also, what happened to Tbody? Has this taken out of Reactable?

[2016-10-24 00:32] jamesaevans commented on #216
+1

[2016-10-24 04:02] rizkiandrianto commented on #84
+1 we need it to this beautiful table

[2016-10-24 19:07] alisman opened #331 "Can you specify a component to handle render of a columns cells?"
This is a great component.   What happens though if we need to make a column of buttons and those buttons need to be react components?  Maybe the items in the columns object should have a property called component.  If It's set to a React component, that component will be rendered inside the cells of that column and accept the data as a property?

Would you accept a pull request?  This is the way

[2016-10-27 16:22] rizkiandrianto commented on #311
Any update guys?

[2016-10-27 17:20] ericf89 commented on #311
I think I fixed it with my PR, but I'm not sure if I broke any other intended behavior.  You can try it locally with `"reactable":"git://github.com/ericf89/reactable.git#aab6bcbe05bdf5ac02d5673dbac51cb008bac01a"` in your package.json.

[2016-10-31 15:29] paddotk opened #332 "Erro: `The only possible children of <Table> are <Thead>, <Tr>, or one <Tfoot>.`"
I get this error from a table that should work correctly. I have a table on another page that is structured the exact same way, which does work just fine.

[code]

The only difference with this table is that all `<Tr>`s besides the first (header) one are in a different class (and different file), not sure if this has anything to do with it. `{myNodes}` is fine, all I did was changing a regular tab

[2016-10-31 20:21] tannerlinsley commented on #331
I ran into this issue too.  I tried to get around it, but ended up building my own grid. :) Try https://github.com/tannerlinsley/react-table.

[2016-11-02 02:07] marknv commented on #311
Thanks @ericf89, I regression tested your version on my table with customized headers, footers, columns, pagination, sorting, filtering. And doesn't seems to have any problem on those major features.

[2016-11-02 13:48] paddotk commented on #332
[Update] It looks like this bug is related to [issue 156](https://github.com/glittershark/reactable/issues/156), so it _is_ the different component that messes it up.
Since this is a typical React way of working, it'd be great if such an enhanchement would be added.

[2016-11-02 18:54] marknv commented on #311
@vdh or @glittershark could you take a look at PR #328, I used @ericf89's version on a table with customized almost everything (thead, tbody, tfoot, pagination, filtering and sorting), and it doesn't seem have any regression to me.

[2016-11-03 13:52] Circuit8 commented on #258
This has a solution in #240

[2016-11-03 13:52] Circuit8 commented on #226
This has workaround in #240

[2016-11-07 05:29] hassankhan opened #334 "Roadmap"
Hi @glittershark, just wanted to know what the future of the project is? I remember you saying there were some changes you wanted to make and I was wondering what they were.

[2016-11-08 20:10] alisman commented on #334
This component meets a lot of our requirements and I think has a strong future.  But we need to able to render components easily inside of data-driven table (that is, when data property is used, not Tr/Td).  There are currently two PRs that meet this need, mine and another one.  Either one would be great!

[2016-11-09 15:57] hassankhan commented on #334
Just wanted to say that we all love this project (hands-down the best data table library for React IMO) and we just want to make sure it receives the care it deserves 😄

[2016-11-09 16:00] alisman commented on #334
Let me second @hassankhan.  Every other datatable we've tried seems consumed with solving edge case problems.  We just wanted a standard HTML table with some added features like sorting, filtering etc.  Long live reactable

[2016-11-11 09:59] paddotk commented on #258
@Circuit8 Doesn't look like it

[2016-11-16 14:27] cjbrowne commented on #311
@ericf89 works for us, looking forward to this making it into a release :)

[2016-11-17 22:08] hassankhan commented on #334
Pinging @glittershark

[2016-11-17 22:23] hassankhan commented on #334
I'm only being persistent because there are some issues that I would love to see addressed, and I just want to be assured that any work I do will get merged/released soon. For starters I'd love to see the warnings go away for once and for all, and secondly I'd love to see a re-do of pagination, either like #4 or by passing a `paginatorComponent` prop to `<Table />`.

[2016-11-18 21:06] glittershark commented on #334
So, in the last few months the time I've had to maintain this has waned a little bit as work has been taking up more and more of my time. Let's see if I can address the specific things you're asking for:

- rendering rows in components: absolutely want this, but it's fairly difficult to achieve given how Reactable actually needs a fully rendered sub-tree in order to parse through child data. I too

[2016-11-18 21:08] glittershark commented on #334
As far as things not already mentioned in this thread:

- People keep asking for colspan and rowspan - I'm not sure how it'd work with sorting and pagination, but if someone can come up with an API that makes sense I'm open to it
- Async loading of data is something I keep waffling on, as I'm not entirely sure Reactable provides a lot of value there given how idiosyncratic a lot of APIs can be. Th

[2016-11-18 21:10] #311 closed

[2016-11-18 21:12] glittershark commented on #311
Just pushed 0.14.1, can you all confirm that fixes this issue?

[2016-11-18 21:18] glittershark commented on #258
Yeah, looks like a dupe of #240.

[2016-11-18 21:18] #258 closed

[2016-11-18 21:18] glittershark commented on #226
dupe of #240

[2016-11-18 21:18] #226 closed

[2016-11-18 21:31] glittershark opened #337 "Tests don't run on Node 7"
as discovered in #336

[2016-11-18 23:39] hassankhan commented on #311
I can confirm, no more warnings 👍

[2016-11-19 13:40] glittershark commented on #311
woo! 🎉

[2016-11-21 03:47] hassankhan commented on #334
Awesome, thanks for the response! I've started work on [a branch](https://github.com/EndemolShineGroup/reactable/tree/road-to-v1). There's a fair few changes, mainly:
- Using Lodash for any data transformations
- Using newer version of React
- Using Webpack
- Making the code a little friendlier
- Using slightly more idiomatic React

Ideally, I want to get it back to feature parity using the test s

[2016-11-21 09:03] highwaycoder commented on #311
Confirmed working with 0.14.1, updated package.json this morning :) :tada:

[2016-11-21 14:56] glittershark commented on #334
The only thing I'm against in that list is using Lodash - I'd rather not force that dependency on any upstream consumers. We as library authors have the burden of doing all the stuff that libraries like lodash make easy manually, so that application developers don't have to 😄

[2016-11-21 14:57] glittershark commented on #334
In the same vein, I'm fine with internal complexity, especially given how good the test coverage is (should be basically 100%). The entire point of libraries imo is to be complex so you don't have to.

[2016-11-21 15:18] alisman commented on #334
I'm not sure I understand the resistance to custom components in data (or specified in column object).  The alternative would seem to be specifying all columns in markup even if only one column necessitated component rendering (a button, say).   I think people expect to be able to just hand some data to a datatable component and maybe do some limited customization.

[2016-11-21 15:40] hassankhan commented on #334
@glittershark True, but I feel there's no point in reinventing the wheel for simple things like checking types etc., and using Webpack and ES6 imports we can specifically only require the functions we need and use tree-shaking to exclude unused code. We need not even require Lodash as a dependency, rather a few functions from it listed as separate devDependencies. When we bundle for distribution,

[2016-11-27 00:47] olliepop commented on #309
@cklab `sortFunction` should accept row data rather than the cell innerHTML (as it currently does), so we may sort values which have been formatted for our specific usecase without regex within the sort. i.e

[code]

[2016-12-02 14:55] patrik-piskay opened #338 "Doesn't work with React-hot-loader"
When using RHL (version 3.0.0-beta6), error `The only possible children of <Table> are <Thead>, <Tr>, or one <Tfoot>` is thrown with no table being rendered.

[2016-12-03 22:23] gbenson-wikia commented on #338
This appears to be caused by `reactable/table.jsx::parseChildData()`'s mechanism for checking to see if the children are the types it's expecting.  `child.type` returns the function used to create the child component, and RHL will have swapped out the function with a copy of itself.  But, since they merely contain the same code (and don't point to the same in-memory instance of the function), JS d

[2016-12-06 12:50] thetmkay commented on #252
Just bitten by this - can confirm `value` works.

[2016-12-06 12:50] thetmkay commented on #325
Make sure to use `value={foobar}` instead of `data={foobar}` or else it won't work (the docs are wrong).

See #252

[2016-12-08 09:23] o02112 opened #339 "How many rows are there?"
It might have a place to display the number of rows (after filter etc.).

[2016-12-14 07:52] rizkiandrianto commented on #339
+1

@glittershark ?

[2016-12-15 11:02] cxlove commented on #240
How about this issue now? Still not fixed?

[2016-12-15 11:30] cxlove commented on #240
All right, wrapping inside a div tab is work for me.

[2016-12-16 00:47] spacedarcy opened #341 "Checkboxes causing sort order to change"
I inserted a column of checkboxes into my table data for the purpose of selecting rows. Sorting works fine on each column, but if I sort and then click any checkbox in the table, table re-renders, causing the user to select the wrong row.

Are there any obvious misses I could make that would cause this behavior?

[2016-12-16 07:34] rizkiandrianto opened #342 "Sorting Column Means Sorting Data"
Can we make sorting column means sorting data, instead just make the row moves? So we can make row number that stay consecutive.

[2016-12-16 20:26] Dashman99 opened #343 "Any example css?"
I was wondering if anyone had any example css they could share for use with Reactable?

[2016-12-27 18:35] jgarmar opened #344 "Is it possible to filter rows by hidden columns?"
I need to filter rows by data that I want to hide because is not important to see on frontpage but yes for filtering, p.e. by barcode.

Thanks

[2016-12-27 19:08] jgarmar commented on #344
Edit: I need to add that I've created my Table mapping array with items and rendering Table, Thead, Th, Tr and Td Components. Actually I have all columns displayed, and filtered setted for the columns needed, but I want to hide some columns, I can't find 'hidden' prop

[2016-12-29 00:08] kmayer commented on #322
I added this to my component that wraps the Table component, and added a little css magic. It will highlight new entries, but not removals.

[code]

[code]

[2016-12-29 00:12] kmayer commented on #322
The reason Reactable won't work is that it requires that direct descendants to be one of it's own:

so this won't work (because ReactCSSTransitionGroup is not a Tr.

[code]

[2016-12-29 00:20] kmayer commented on #322
I suppose if you could somehow wrap this line:

https://github.com/glittershark/reactable/blob/master/src/reactable/table.jsx#L506

in the ReactCSSTransitionGroup, then it might work. Then again, it adds another dependency to this component.

[2016-12-31 02:01] chqy24 opened #345 "onPageChange not called when itemsPerPage changes"
when itemsPerPage changes, the currentPage might be change, but onPageChange never triggered.

[2017-01-05 19:24] phillyo2 commented on #232
Is there a way to over write just one column?  So we still pass a data attribute to the Table
<Table data={aListOfObejcts}/> but add the value attribute just to one of the columns so we can sort that column by the value rather than the data?

[2017-01-06 05:14] chauhanmohit commented on #295
@yocmen
Thanks for your reply . I'll try your suggestion

[2017-01-12 16:35] fedja-kolosek opened #348 "Unsafe column headers"
I want to add title tag to column labels, example: `title="tooltip"`, so I tried wrapping column labels in unsafe() but I can't make it work for labels, though it works for data in the table. The problem is that it just shows it as a string in the header. So if I write `Reactable.unsafe('<span>Header</span>')` it will just show it like that with span tags

[2017-01-15 08:11] mehmeta commented on #326
Have you tried adding the column property to the Tds? I think they're required.

[2017-01-15 12:19] Kronenberg opened #349 "Change text of pagination buttons"
Need to change text in pagination button
by default there is Next, Previous, how can i do this?

Thx!

[2017-01-15 12:20] #349 closed, assigned to nobody

[2017-01-20 12:13] revett commented on #326
Seeing this as well w/ two children within a single `<Td>` component.

Children are an `<input>` and `<label>`.

[2017-01-20 13:32] florianBonavendi commented on #326
@mehmeta: Thanks for the hint, bit the Issue persists when adding a column property.

Anybody has a fix at hand? It makes the project rather hard to use in a real-world project this way :(

[2017-01-20 20:26] isaachinman opened #351 "Mobile-friendly?"
So I ctrl+f'd for `mobile` and `responsive` in the issues on the project, and found nothing. I have a suspicion the answer to my question is going to be "it depends on your use case", but does this project attempt to be responsive or mobile-friendly in any way?

To me it seems like the strongest example of React-based html tables with an extremely intuitive API. But (personally), basic responsiven

[2017-01-20 20:30] glittershark commented on #351
All Reactable does is render HTML. If you want to write CSS to make that HTML responsive, that's up to you.

[2017-01-20 20:30] #351 closed, assigned to nobody

[2017-01-20 20:34] isaachinman commented on #351
Fair enough.

[2017-01-21 10:23] isaachinman commented on #349
@Kronenberg Why did you close this? Is it possible to localise this content?

[2017-01-21 10:25] isaachinman commented on #349
Ah, for anyone looking, the `Table` component can take a prop called `nextPageLabel` etc to change this content.

[2017-01-23 17:51] isaachinman commented on #309
Is there any update on this? It seems sensible to have fallback sorting, so that if the top-level column sort results in a bunch of rows with equal values, we can have secondary sorting logic for those equal-value rows.

[2017-01-23 17:53] isaachinman commented on #309
@cklab Did you use `sortFunction` to fallback on a different value comparison if the initial value comparison is identical?

[2017-01-23 18:14] cklab commented on #309
@isaachinman I'm using  pr #321 which calls sortFunction like so:

```sortFunction(keyA, keyB, rowA, rowB)```

So, if we have a sort definition with `column: "name"` and for the table, we have the data
[code]
 sample arguments for sortFunction (with pr #321) would look like:

[code]

I then use the objects rowA and rowB to perform further comparisons, as needed.

[2017-01-24 20:16] bf commented on #315
@maurocolella feel free to submit a pull request. This feature request should be very easy to implement.

[2017-01-24 20:16] bf commented on #338
@glittershark any comments?

[2017-01-31 18:35] cklab opened #353 "Unable to encapsulate <Td> in another component"
I have a scenario where I'd like to monitor the behavior of a Td, through use of componentDidUpdate, componentWillReceiveProps, etc.

I've created a class such as:

[code]

If I use this component in the table of my `<Table>`, `MonitoredTd` does not get rendered as a `MonitoredTd` but rather a `Td`, presumably cause of: https://github.com/glittershark/reactable/blob/master/src/reactable/tr.jsx#L30

[2017-02-03 03:06] mohdhazwan commented on #145
anyone found the solution please share.

thanks

[2017-02-06 17:59] ThorntonStuart opened #355 "pageHref on Next and Prev buttons does not change currently rendered data"
Hi there. Using reactable@0.14.1 on an app which uses express-react-views. My app structure currently resembles the example found [here](https://github.com/reactjs/express-react-views/tree/master/examples/dynamic) quite closely.

When rendering the table component in this app, the pagination does not seem to work in the same way that it does when I have tested with standard React applications whic

[2017-02-09 20:03] byhoung commented on #240
Wrapping the Td contents inside the div works, but it seems to break the filtering functionality.

[2017-02-13 20:39] byhoung opened #358 "Pagination: Is it possible to do a"

[2017-02-13 20:40] byhoung opened #359 "Pagination: Is it possible to do a "load more" type of pagination"
Like the title says, instead of a "prev/next" type of pagination with page number, I would like to do a "load more" type of pagination by either clicking on "load more" or through the action of scrolling to the bottom of the list. Is this possible?

I haven't seen any examples and tickets regarding this yet.

Thanks in advance.

[2017-02-14 17:40] Dashman99 commented on #105
Hi @glittershark I am having troubles getting your css to work in my reactable.  I am using webpack and importing the `table.css` into my component .js file.  I have also tried importing it into my main `index.js` file which is my starting point for my react application.  BTW, I am a complete beginner to React.

[2017-02-14 17:42] Dashman99 commented on #343
Hi @glittershark I see you have an example stylesheet [here](https://github.com/glittershark/reactable/blob/gh-pages/stylesheets/table.css) but I am having trouble using it in my reactable table.  I have imported it into my component.js and also tried in my index.js, which is the starting point for my React application.  I am using webpack to bundle.  BTW I am a complete beginner to React...any he

[2017-02-14 21:38] Dashman99 opened #360 "Can the value of a column be a function?"
For example if I have a column called `Number` and a column `Total`, can I create a column which displays the percentage of total `PercentOfTotal` ?

Something like this, assuming I had a function called `getPercentOfTotal(a, b)`

[code]

[2017-02-15 23:44] #358 closed, assigned to nobody

[2017-02-16 12:52] kdmitrijs commented on #215
Would be great to see a fix for this. Being forced to do something silly like retrieving the current filter from `onFilter` and reapplying it with `filterBy` on every render.

[2017-02-16 23:14] tvilon commented on #125
Here is my take on adding onRowClick: https://github.com/glittershark/reactable/pull/362

[2017-02-26 13:15] florianBonavendi commented on #326
Found the *trivial* workaround: in case you have two or more child components below the `<Td>` component, wrap them in a `<div>`.

[2017-02-26 13:15] #326 closed

[2017-03-03 18:50] tirdadc opened #364 "Custom React components in Table rows?"
I figured this would allow me to include my own custom components (in this case a customized `input` defined as `TextField`) in the `Table`, but I get this error and the rows do not render:

[code]

Is there no way to use this with other components at this point?

[2017-03-05 22:08] tommymcdonald commented on #324
I have a similar question here.

[2017-03-10 10:53] IOsonoTAN opened #365 "Can i custom a pagination?"
Hi @glittershark,

Can i custom a pagination from link of page numbers to be next/previous link only?

Thanks

[2017-03-11 20:38] BEaStia commented on #365
@IOsonoTAN It looks like you need to fork repo, create new/customize current paginator. I've just faced the same problem

[2017-03-13 06:31] ngocgiang2512 commented on #145
I'm also in trouble with it,

[2017-03-13 20:36] claudioDcv opened #367 "Reactable optional add support Font Awesome Sort icons"
please add support sorting font-awesome css
[code]

[2017-03-16 18:24] glittershark commented on #324
The current official way to do it is with a `map` returning a list of `<Tr>`s.

[2017-03-16 18:24] #324 closed

[2017-03-27 21:24] maksimgm commented on #4
http://stackoverflow.com/questions/43056736/is-there-a-way-to-customize-pagination-using-the-reactable-library

@glittershark

[2017-03-27 21:31] kevincolten commented on #4
Here is a diff showing where I stuck the bootstrap classes if anyone is interested. I can see about making a PR if we agree on any of it.

https://github.com/glittershark/reactable/commit/8e3b32c9fde776628f4caf84160f410a682cff10

![screen shot 2017-03-27 at 4 29 52 pm](https://cloud.githubusercontent.com/assets/4411115/24379007/bdce18c8-130a-11e7-92e0-6ace3f5bd18d.png)

[2017-03-27 22:55] maksimgm commented on #4
@glittershark

[2017-03-28 00:22] brinley commented on #330
This should hide pagination for print media

`@media print
{
    .reactable-pagination {display: none;}
}`

[2017-03-28 00:34] brinley commented on #360
Cant see any reason a column is dynamic but I'm sure it would work as long as your function returns the same string as the corresponding Td column

[2017-03-28 09:24] sassanh commented on #330
Yeah, thanks.

[2017-03-28 09:24] #330 closed

[2017-03-28 18:57] christianallred opened #369 "Mutliple Header Rows."
Its not currently possible to put two rows in a
[code]

[2017-04-06 11:47] kvolkovich-sc opened #370 "New examples page proposal"
Hi!

![showroom-demo](https://raw.githubusercontent.com/OpusCapitaBES/js-react-showroom-client/93f035a18e6c35de46bfca299a32708ce9e52c1e/docs/demo.gif)

https://github.com/OpusCapitaBES/js-react-showroom-client

It allows to write documentation in markdown and run all docs in sandbox with code examples.
It often useful to have possibility to play with components at web page before use it in project

[2017-04-14 12:50] rickysahu commented on #364
Yup, i have this same issue, it makes managing more complex code difficult.

[2017-04-18 17:34] ilyablbnv opened #372 "[QUESTION] Could I trigger click event on a single row?"
So I fetch my JSON data from the server and use reactable library to display as a table. Could I trigger a click event on a single row and pass _id ? Previously I used a traditional _map loop so is there a possibility ? Thanks in advance.

[2017-04-28 22:07] andrewlorenz commented on #372
Yes, this table seems fully featured for *displaying* data, but not for *manipulating* it!  There appears to be not a jot of support for anything that would allow you to have a (say), edit or delete button against each row.  What an utterly huge shame it doesn't.

[2017-04-28 23:00] andrewlorenz commented on #360
this doesn't work.  Shame you say you can't see any reason for this, I can !  It would be great if the columns array / Th had an optional value= parameter, to supply a function that can be called with that column's row data values to apply (say) formatting, or to translate, or to compute a value.

[2017-05-03 16:30] paddotk commented on #367
I think you need to be a little more specific. How would you like the rows to be sorted?

[2017-05-03 16:34] paddotk commented on #344
You can use the `defaultSort` attribute on the table to sort on by default:
[code]
If you hide the column by css, I think it should work just fine.

[2017-05-15 08:50] andrewlorenz opened #375 "inclusion of filter header removes ability to size table columns"
the addition of the filter block tr class=reactable-filterer within the thead block (and before the actual row headers as provided to the component) is overriding any css/inline styling of the column widths. Also, the html standard colgroup settings before the thead cannot be used because they are rejected, with the message "The only possible children of Table are Thead, Tr, or one Tfoot".
This ca

[2017-05-22 12:03] affektde commented on #369
Well I have also a need to put a customized row above the filter header row.

Also they have to have colspan attributes. I will try to customize it the next days. But would be cool, if there is a small tip for this issue :-D

[2017-05-25 18:22] ssorallen opened #376 "Multi-column sorting"
It would be nice to be able to sort by multiple columns. If two rows are equal for a given column, they will continue attempting further sorters until all Sorters are exhausted or an order is found.

The `defaultSort` prop could take an `Array<Sorter>`.

[code]

`onSort` could return an `Array<Sorter>` if multiple columns are being sorted.

[code]

The interaction for clicking columns would need s

[2017-05-25 18:39] ssorallen commented on #372
You can add an `onClick` callback to the `<Tr>` component like you'd expect:

[code]

[2017-05-25 18:42] ssorallen commented on #364
How would you expect sorting and filtering to work for those elements?

[2017-05-25 18:45] ssorallen commented on #343
I've been using reactable with [Bootstrap tables](https://getbootstrap.com/css/#tables):

[code]

[2017-05-25 18:54] rickysahu commented on #364
the simplest way that comes to mind is getting the entire text content of the component and using that as a string value. if all values can be parsed as float / numeric, then sort / filter as numeric.

[2017-05-26 06:24] VIthulan opened #377 "Multiple filters"
Is it possible to apply multiple filters in filterBy() method?

Example: Column Places has values : {'X city', 'Y city' , 'Z city', 'R town', 'T town', 'E island', 'U island', 'U country'}
If I need to filter only city : filterBy('city') will work fine.
Lets say if I want to filter the places { city & town} , How can I do it?

[2017-06-01 04:54] yoiang opened #378 "sortFunction given a and b as is, filterFunction is given string"
Hey, thanks so much for the work on this project, it's a charm.

I have one question regarding implementation:

If one provides a column a `sortFunction` that function is sent `a` and `b` (`left` and `right`) exactly how the values have been given (https://github.com/glittershark/reactable/blob/8e386acbe60387dbdfc2f5d75c9cf0029929f97b/src/reactable/table.jsx#L325-L329)

On the other hand if one pr

[2017-06-06 20:36] Ricardonacif opened #379 "filterFunction of a custom component is returning string "object Object""
Guys, I have a column where I render a custom component. When I try to use the filterFunction to specify how I wanna filter, the "contents" is coming as a string "object Object". ```

[code]

Am I doing something wrong?

[2017-06-06 20:44] andrewlorenz commented on #379
Hey, I'd suggest you build a 'proper' table using `<Table>`, `<Tr>`, `<Td>`.  I suspect you need to use the pattern whereby you have your data for filtering specified separately from your actual column render (which will be your `<customComponent>`)

[2017-06-06 22:54] #379 closed, assigned to nobody

[2017-06-06 22:54] Ricardonacif commented on #379
Sorry man, that's right. Will do it the proper way! Thanks!

[2017-06-07 15:32] enriquejosepadilla commented on #364
I had rows that had to hold array values and then since i didnt use the data prop sorting/filtering didnt work. Since my Tr wrapped my div i used the following for the sorting.

[code]

[2017-06-11 08:35] PhilNorfleet commented on #273
I am still struggling to solve this, seems like there should be a <Tbody> component that you can set the height and make scrollable and keep the header fixed like normal.

[2017-06-11 22:46] PhilNorfleet opened #380 "Add <Tbody> Component"
In the interest of scrolling tables (and possibly other stylistic or functional concerns) I think that a <Tbody> component would fit well with the current usage of this library. I would like to hear other's thoughts on the feasibility and desirability of this and suggest it as a feature for future versions.

[2017-06-16 23:34] stclairdaniel commented on #273
I'm also curious about a solution. Using `position: fixed`breaks the column layout, unfortunately.

[2017-06-19 13:28] ni3galave commented on #342
+1 for server side sorting.

[2017-06-20 14:14] jasonblanchard opened #381 "React.DOM.tr deprecation warning in React v16.0+"
After upgrading to React v15.6.1, I'm seeing this deprecation warning:

[code]

Looks like `tr.js:78` is [a Reactable file](https://github.com/glittershark/reactable/blob/master/src/reactable/tr.jsx#L40).

I'm not sure if using react-dom-factories is the best solution here or refactoring it to avoid the call altogether.

[2017-06-21 04:09] allencch commented on #162
I have a similar issue. Hope my comment will help. If we have an array of components, in order to display them properly in the Td, we need to wrap the array with a single component like <div>

[code]

[2017-06-23 06:37] allencch opened #382 "Sorting error with more than 10 rows if the target column has same value"
I found an issue if sorting more than 10 rows, and when the target column has the same value, the sorting is keep changing inconsistently if the header is clicked.

[code]

Any way to solve this? The actual data will get from the backend. The main problem is the sorting of the same values is inconsistent. And the issue will not appear if the table has 10 rows or below.

[2017-06-28 21:25] JonathanTR commented on #382
Running into the same issue with a very similar implementation.

[2017-06-30 22:26] stclairdaniel commented on #84
+1 to this!

[2017-07-06 13:33] allencch commented on #382
I checked. This issue is not from `reactable`, but from the JS itself. Related issue can be found [here](https://stackoverflow.com/questions/3195941/sorting-an-array-of-objects-in-chrome).
It can be easily reproduced in Chrome, Opera, and even Node.

[code]
So, this issue can be closed.

[2017-07-06 13:33] #382 closed, assigned to nobody

[2017-07-07 11:04] sassanh opened #383 "Is this repository maintained?"
I'm upgrading to React 16 in my development machine and it's seems like it's reactable is incompatible with React 16. Considering the last commit on this repo i'm worried it won't be maintained to support React 16. I wanna discuss this here so that if it's not going to be updated we can decide to migrate to something else before it's late.

[2017-07-12 15:51] rkarroll commented on #383
I was wondering the same thing.

[2017-07-12 15:58] rkarroll commented on #383
fixed-data-table-2 seems to be much more actively maintained and what I'll be using on my project.

[2017-07-12 16:17] sassanh commented on #383
15 months ago after 1 month of starting to work on Frontend, seeing the state of frontend libraries repositories I concluded "Never use a JS library unless it's a big one with lots of stars in repo" because I saw many of them stop being maintained. Today I change that conclusion to "Never use a JS library unless it's ReactJS, babel-*, browserify, or things like that, or you don't expect any update

[2017-07-13 18:18] sleaze commented on #383
Agreed, it is frustrating and wastes a lot of peoples time.

[2017-07-13 18:41] sassanh commented on #383
We can't blame the repository owner, he has his own life, but I don't know why it happens only to js repositories, not python repos for example. Maybe repo owners should spend some time and give others some responsibilities so that when they can't spend time, others can fill the gap.

[2017-07-14 06:08] katmlee commented on #339
+1

[2017-07-15 10:50] mahsad71 opened #386 "can't Show tooltip"
I can't show tooltip in the Tr as below:
[code]
please help me for fixing this problem.

[2017-07-28 20:51] stclairdaniel commented on #339
+1

[2017-08-01 09:37] Kadrian commented on #383
Should we create a fork and start maintaining it somewhere else? What's the usual open source procedure in this case?
@glittershark Are you open to transferring ownership?

[2017-08-01 09:57] sassanh commented on #383
@Kadrian forking and maintaining elsewhere is usually not an appropriate decision unless repository owner doesn't respond for a long time. Usually the appropriate thing is that repository owner gives permissions to some other individuals who are interested if he doesn't have time to maintain himself. These individuals are usually those who have some accepted PRs.

I hope @glittershark can manage i

[2017-08-01 12:52] mahsad71 commented on #386
solved by adding this:
`  componentDidUpdate() {
    //reset tooltip data-toggle
    $('[data-toggle="tooltip"]').tooltip();
  }
`

but another problem is that the columns that uses tooltip can't sort.

[2017-08-09 15:58] stclairdaniel commented on #383
@glittershark Any word on this?

[2017-08-25 17:35] Praki06 opened #387 "Cannot make Header row fixed"
Adding postion:fixed to the header breaks the column layout. Is there any other way to make the headers fixed.

[2017-08-25 22:34] Praki06 commented on #273
Did anyone find a workable solution for this issue?

[2017-08-27 02:30] prog20901 opened #388 "Need one example of the following..."
Could you please kindly consider adding one more example html file with the following features...Please kindly attach to the project examples folder as it would be helpful for many as well..

1.Read only grid as above without edit, delete and save option.
2. The grid with many export options - pdf, csv, excel, word etc.,
3. When the pagination is enabled - goto page option to navigate to particula

[2017-09-11 20:33] johanDev19 commented on #377
hi @VIthulan , did you find the solution?

[2017-09-27 12:48] ghost commented on #204
hi @glittershark
I updated to react 0.14. but it's still same error.
how can I fix it?
thanks, ;)

[2017-10-05 12:55] yoiang commented on #379
@andrewlorenz + @Ricardonacif can either of you elaborate on this solution? Are you saying skip using reactable? Or some table alongside?

[2017-10-05 17:16] stclairdaniel commented on #387
I think there is another open issue about this, but the short answer is no. Here's a sort of hacky way that will accomplish it though - wrap your table in a div and give it this:
`onScroll={function(e) {let translate = `translate(0,${e.nativeEvent.target.scrollTop}px)`;
document.querySelector(".reactable-column-header"
).style.transform = translate;
`

[2017-10-05 17:19] stclairdaniel commented on #381
@glittershark React 16 is out. Any updates here?

[2017-10-05 22:38] andrewlorenz commented on #379
hi there, no I didn't mean not to use reactable!  just to do a bit more coding to enable the filtering than expecting it to be done for you by reactable.  I found that there are a couple of ways to feed reactable with (a) the data you want the user to see and (b) the data you want to be available for use in filtering. Especially useful when you want to apply formatting to the data but filter it in

[2017-10-09 07:07] vladnicula commented on #381
Breaks on react 16. How can we help? :)

[2017-10-09 07:27] vladnicula commented on #381
Opened PR for this. It solved the issue for me https://github.com/glittershark/reactable/pull/389

[2017-10-11 01:05] michellethomas opened #390 "defaultSort doesn't update on componentWillReceiveProps"
I'm noticing a problem, when I update the defaultSort and pass in a new column without refreshing the page the component doesn't update to sort on the new column.

In [componentWillReceiveProps](https://github.com/glittershark/reactable/blob/master/src/reactable/table.jsx#L257) updateCurrentSort takes nextProps.sortBy instead of nextProps.defaultSort. defaultSort doesn't get updated outside of the

[2017-10-13 11:29] mohitgarg commented on #338
I am facing the same issue. Have you guys found any solution?

[2017-10-21 02:09] yoiang commented on #379
Hey @andrewlorenz !
Sorry for the late reply! I ended up forking the repo and making the change such that it returns the actual object.

Thank you for the offer! The data isn't so complicated that it would be difficult to filter and format but a nice generic method that works with how it's already being structured to display in the component is more straightforward for at least some of our usages

[2017-11-01 17:49] muhammadahmed94 commented on #156
Hi , I am using check boxes and check all. What should do to mark all my rows check on check all click without re rendering the grid? and what should I do forcefully re render grid or invoke **fetchdata** method on check box checked on unchecked?

[2017-11-02 14:35] andrewlorenz commented on #379
For anyone reading this, the probable reason for getting [Object Object] is that you have set a `<Td>` contents to be multiple elements, and therefore you need to just wrap them with a `<span></span>` block so that the `<Td>` itself contains only 1 child element.

[2017-11-02 15:16] yoiang commented on #379
If I'm understanding you correctly this also occurs for me with one child element because of #378. The fork I mentioned can be found here: https://github.com/Adorkable-forkable/reactable

[2017-11-02 15:33] andrewlorenz commented on #379
hi yes its entirely possible, and I just realised my comment doesn't relate specifically to this issue.  So that fork you mention, are you intending to keep that one maintained (unlike this one which is sadly going to seed I fear)

[2017-11-05 00:11] jackson-sandland commented on #383
Bueller...

[2017-11-13 15:50] yoiang commented on #379
Unfortunately I don't think I'll be able to maintain the fork in a real way either, for anyone interested it'd be best if they pulled the change ;)

[2017-11-17 18:43] rkpatel33 opened #391 "Getting error: Cannot read property 'tr' of undefined"
I am getting the following error when dropping the first simple example into a basic react component inside a React/Electron project:

![image](https://user-images.githubusercontent.com/3799489/32962986-531793ce-cb83-11e7-9899-61bdbdb49c9f.png)

Seems the line it's failing on is this one, with `_react2['default'].DOM` undefined.

![image](https://user-images.githubusercontent.com/3799489/32963038-

[2017-11-18 12:30] asela-wijesinghe opened #392 "get filter results"
Is there a way get result count out as a prop or something or result set after the filtering by a String?

[2017-11-18 17:44] lukaszdobosz commented on #391
Got the same, it's because of removed deprecation React.DOM, now it is in a separated lib react-dom-factories. Easy fix is to move back to react 15.

[2017-11-21 15:01] rkpatel33 commented on #391
Ok, thanks! Think I will hold off on using it until it get's incorporated here.

[2017-11-21 20:20] birdwell commented on #391
I'm getting the same. Sad that I'd have to change React version to get this library to work.

[2017-12-28 00:08] Perogy commented on #391
Yep getting this as well. Unfortunately seems this is unusable on the latest version of react.

[2017-12-29 15:06] abdulrahman-khankan commented on #381
@glittershark could you please approve the PR?

[2018-01-17 18:39] mikeLspohn commented on #383
I feel like it's safe to say this isn't being actively maintained at this point...

[2018-02-20 08:54] abdulrahman-khankan commented on #146
Readme has been rewritten, filterPlaceholder is not documented, but still an available prop.

Keywords: placeholder, input, filter.

[2018-03-07 17:12] thabti commented on #338
Still facing similar issue :( with react-hot-loader 4

[2018-03-22 16:47] ghost opened #396 "Why I'm having this problem?"
My code:

[code]

And I've got an error
**TypeError: Cannot read property 'tr' of undefined**

[2018-03-29 08:06] ghost commented on #396
I am also having the same problem and nothing is working for me. Hope we get some clues.

[2018-03-29 08:07] ghost commented on #396
I just think this library is just outdated

[2018-04-04 01:31] timclipsham commented on #396
@TheyCallMeAlexander I recommend you find another library. There's been no responses from the creator across multiple issues, especially since React 16. We're removing this library from our product.

[2018-04-08 15:09] kdzapp commented on #372
Doesn't work for me

[2018-04-24 12:39] andrewlorenz commented on #381
sadly another one of my imports bites the dust at React 16 :(  looks like its time to find another good react table ...

[2018-04-24 12:45] abdulrahman-khankan commented on #381
@andrewlorenz you can add this to your package.json instead.
"reactable": "github:abdulrahman-khankan/reactable"
I will keep it there and in contact with npm support to publish it there as well.

[2018-04-24 13:13] andrewlorenz commented on #381
hey, great offer thanks I'll take a look.

[2018-04-25 10:32] andrewlorenz commented on #381
@abdulrahman-khankan I'm finding that in spite of adding the pointer to your repo as you suggested, that:
a) npm install/update always tells me (i.e. even if I run it again and again):
[code]
b) After running npm, there is no "reactable" folder in my node_modules
c) When I try to run up my app, I get the error: `Cannot find module 'reactable/lib/reactable'`

[2018-04-25 10:36] abdulrahman-khankan commented on #381
It's a bug with package-lock. Happens to me often, hopefully npm will reply soon and no need to link it to GitHub anymore.

You can delete package-lock and run npm install again and it should work fine. At least that's how I solve it.

[2018-04-25 10:40] andrewlorenz commented on #381
funnily enough I've just come back on to say I've managed to fix it exactly by doing just that!  (though I'm sure I'd already tried that before and didn't get the same result).  Thanks for such a prompt reply though my friend !

[2018-05-09 08:37] iweurman opened #399 "Sorting numbers or currency only sorts the first digit"
If i sort my Column it only sorts from the first digits, but not the whole number.
How can I fix this? it doesn't matter if I use the currency sort function or numbers.
The numbers are fetched from objects, do I need to convert those to strings maybe?

Currency:
88
860
810000
756
74500
5240
472200
4651
297100
241700
23390
1...
etc...

[code]

[2018-10-16 07:46] shukla2009 commented on #399
+1

[2018-11-01 23:42] #308 closed

[2018-12-25 19:20] thomporter commented on #369
Github's issue search saves the day, I was about to submit a duplicate issue!  Here's what I was going to post:

This is somewhat related to [Support colspan and rowspan #84](https://github.com/glittershark/reactable/issues/84) but not.

I have a table I need to render that has multiple sets of columns that are related.  I want 2 rows in the Thead, the top one would have Th elements with colSpan t

[2019-07-04 07:27] kalimuthu123 opened #400 "cannot make row fixed and column fixed"
I need to fix header and fix columns in this table

https://github.com/glittershark/reactable/issues/387

[2019-07-04 09:13] kalimuthu123 commented on #387
give me a clear clarification with the code

[2019-07-27 06:55] daisy0123 opened #401 "需要固定表头"
hi，我这边有需求希望可以固定表头，多谢支持

[2020-01-08 12:29] kalimuthu123 commented on #387
this  works for me but it creates the flickering effect in the header when hoever
table thead tr:nth-child(1) th{
   background: white;
   position: sticky;
   top: 0;
   z-index: 10;
 }

[2020-01-08 12:29] kalimuthu123 commented on #273
this css works partially in the reactable table
table thead tr:nth-child(1) th{
   background: white;
   position: sticky;
   top: 0;
   z-index: 10;
 }

[2020-01-15 21:05] dandv commented on #401
This project is in English (like the vast majority of projects on GitHub).

What made you think you'll get help if you post in Chinese?

[2020-01-16 03:57] dandv commented on #383
There's a ton of [table components for React](https://github.com/brillout/awesome-react-components#editable-data-grid--spreadsheet). I'm happy to see some of them die - makes the selection process a bit easier.

That selection process would be much easier if those who start new projects, explained [WHY they're reinventing the wheel](https://github.com/jbetancur/react-data-table-component#1-react-d

[2020-03-09 08:48] #401 closed, assigned to nobody

[2020-05-21 15:55] romanpastu opened #402 "Table doesnt work in production mode?"
I have been using CRA to create the production build. Everything works fine in development mode, but then in production mode the table isnt even displayed. I dont know where to start to check for the bugs.

You can see the <table></table> element in the inspector. But it doesnt load, and the thead is missing, and no data is displaying. Making the whole table go blank

[2020-05-22 12:06] romanpastu commented on #402
fixed it downgrading to the previous version (1.0.2)

[2020-06-02 21:38] 1AB9502 commented on #377
@VIthulan @johanDev19 ,

were you able to figure out how to do this?

[2020-07-03 01:39] juliawithers commented on #402
@romanpastu Thank you so much, I just switched all my tables over to reactable and it was working just fine on local, but on deploy, nada. You just saved me a whole lot of stress!

[2020-07-24 07:56] #327 closed

[2020-09-20 18:04] el1s7 commented on #383
Well i thought it would be good to make a fork of this and i added some features
Feel free to contribute https://github.com/elis-k/reactablex

[2020-09-20 18:05] el1s7 opened #403 "A better fork"
Well i thought it would be good to make a fork of this, i added some features and made some changes.
Feel free to contribute https://github.com/elis-k/reactablex

[2021-09-30 22:19] #399 closed, assigned to nobody